<script>
  import Logo from './Logo.svelte'
  import Series from './Series.svelte'
  import Video from '../Video/index.svelte'
  import Social from './Social/index.svelte'
  import MobileBg from './MobileBg.svelte'
  import { activeSeries, isMobilePlayerVisible } from '../store'
  import sendMetrik from '../../metrika'
  let containerWidth;
  let containerHeight;
  let windowHeight = window.innerHeight;

  const readClick = ()=>{
    sendMetrik('Ibible.CTA', {'Ibible.CTAEpisodeName': $activeSeries.alias, 'Ibible.CTAType': 'book'})
  }
</script>

<MobileBg/>
<main>
  <div class="wrapper" style={`--topPadding: ${windowHeight- 396}px`}>
    <div>
      <Logo />
      <div class="headline">Современное прочтение самой востребованной книги</div>
      <div class="genre style">Edutainment</div>
      <div class="genre language">Язык: Русский</div>
      <div class="genre yearMobile">2021</div>
      <Series />
    </div>
    <div class="right">
      <div class="year">2021</div>
      <div id="anchor" />
      <div class="video">
        <div class="videoWrapper"  bind:clientWidth={containerWidth} bind:clientHeight={containerHeight} class:isMobilePlayerVisible={$isMobilePlayerVisible}>
          <Video url={$activeSeries.url} {containerWidth} {containerHeight}/>
        </div>
      </div>
      <Social />
      <div class="read"><a href="https://rusneb.ru/catalog/000199_000009_003422516/" target="_blank" on:click={readClick}>Читать книгу</a></div>
    </div>
  </div>
</main>

<style>
  .read{
    text-align: center;
    margin-top: 40px;
  }
  .read a{
    color: var(--accent);
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
  .read a:hover{
    color: var(--accent-hover);
  }
  #anchor {
    height: 20px;
    margin-top: 76px;
  }
  .yearMobile {
    display: none;
  }
  main {
    padding: 0 16px;
    box-sizing: border-box;
  }
  .wrapper {
    max-width: 940px;
    margin: 0 auto;
    margin-top: 90px;
    display: flex;
  }
  .right {
    margin-left: 77px;
  }
  .video {
    width: 360px;
    padding-top: 178%;
    position: relative;
  }
  .video *{
    outline: none;
  }
  .videoWrapper {
    user-select: none;
    -webkit-user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .year {
    color: #b8b8b8;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
  }
  .headline {
    font-size: 21px;
    line-height: 150%;
    margin-top: 32px;
  }
  .genre {
    font-size: 16px;
    line-height: 19px;
    color: #b8b8b8;
  }
  .style {
    margin-top: 24px;
  }
  .language {
    margin-top: 8px;
  }
  @media screen and (max-width: 650px) {
    
    .wrapper{
      margin-top: var(--topPadding);
    }
    .right {
      width: 0;
      height: 0;
      overflow: hidden;
      margin-left: 0;
    }
    main {
      padding: 0 24px;
    }
    .headline {
      font-size: 16px;
      line-height: 150%;
      margin-top: 16px;
      max-width: 300px;
    }
    .genre {
      font-size: 12px;
      line-height: 14px;
      margin-top: 16px;
    }
    .language {
      display: none;
    }
    .yearMobile {
      display: block;
      margin-top: 8px;
    }

    .videoWrapper {
      
      position: fixed !important;
      top: 0;
      left: 0;
      width: 100%;
      bottom: 0;
      background-color: black;
      z-index: 101;
      display: none;
      align-items: center;
      justify-content: center;
    }
    .isMobilePlayerVisible{
      display: flex;
    }
  }
</style>
