<svg viewBox="0 0 240 82" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path
    d="M22.2098 33.226L14.1981 26.6234L0 33.226L9.0259 39.8286L9.0259 65.174L0 69.8597L17.2405 82L31.2357 75.3974L22.2098 68.7948L22.2098 33.226ZM24.2381 9.37143L14.1981 0L4.05659 9.37143L14.1981 19.5948L24.2381 9.37143Z"
  />
  <path
    d="M50.4157 33.226L50.4157 6.6026L42.404 0L28.2059 6.6026L37.2318 13.2052L37.2318 73.0545L49.0974 82L75.4651 68.7948L75.4651 35.2493L63.5996 26.6234L50.4157 33.226ZM62.2813 41.9584L62.2813 75.1844L50.4157 66.3455L50.4157 33.3325L62.2813 41.9584Z"
  />
  <path
    d="M104.807 33.226L96.7955 26.6234L82.5974 33.226L91.6233 39.8286L91.6233 65.174L82.5974 69.8597L99.8379 82L113.833 75.3974L104.807 68.7948L104.807 33.226ZM106.836 9.37143L96.7955 0L86.654 9.37143L96.7955 19.5948L106.836 9.37143Z"
  />
  <path
    d="M133.013 33.226V6.6026L125.001 0L110.803 6.6026L119.829 13.2052L119.829 73.0545L131.695 82L158.063 68.7948V35.2493L146.197 26.6234L133.013 33.226ZM144.879 41.9584V75.1844L133.013 66.3455V33.3325L144.879 41.9584Z"
  />
  <path
    d="M185.376 6.6026L177.365 0L163.167 6.6026L172.192 13.2052V65.174L163.167 69.8597L180.407 82L194.402 75.3974L185.376 68.7948V6.6026Z"
  />
  <path
    d="M225.802 26.6234L199.434 39.8286V73.0545L228.844 82L237.667 69.8597L212.618 66.3455V60.9143L240 47.8156L225.802 26.6234ZM212.618 33.3325L224.686 50.9039L212.618 56.761V33.3325Z"
  />
</svg>

<style>
  path {
    fill: #b19066;
  }
  svg{
    height:82px;
  }
  @media screen and (max-width: 650px) {
    path {
      fill: #fff;
    }
    svg{
      height:44px;
    }
  }
</style>
