<script>
  import { activeSeries } from '../store'
</script>

<div class="container">
  <div class="bg" style={`background-image: url('./images/${$activeSeries.image}');`} />
  <div class="gradient" />
</div>

<style>
  .container {
      display: none;
    position: absolute;

    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: visible;
    z-index: -1;
  }
  .bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
  }
  .gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 96.55%);
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
  @media screen and (max-width: 650px) {
    .container {
        display: block;
    }
  }
</style>
