<svg width="93" height="93" viewBox="0 0 93 93" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M93 46.5C93 72.1812 72.1812 93 46.5 93C20.8188 93 0 72.1812 0 46.5C0 20.8188 20.8188 0 46.5 0C72.1812 0 93 20.8188 93 46.5ZM36.1532 62.8295L64.7686 46.3084L36.1532 29.7873V62.8295Z"
    fill="#B19066"
  />
</svg>
<style>
    svg{
        display: block;
    }
</style>
