<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_d_278_5963)">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5234 9C17.5234 12.866 14.3894 16 10.5234 16C6.65744 16 3.52344 12.866 3.52344 9C3.52344 5.13401 6.65744 2 10.5234 2C14.3894 2 17.5234 5.13401 17.5234 9ZM18.5234 9C18.5234 13.4183 14.9417 17 10.5234 17C6.10516 17 2.52344 13.4183 2.52344 9C2.52344 4.58172 6.10516 1 10.5234 1C14.9417 1 18.5234 4.58172 18.5234 9ZM9.96302 10.6464C9.96302 10.7218 9.99829 10.7595 10.0688 10.7595H10.6191C10.6897 10.7595 10.7249 10.7218 10.7249 10.6464V10.024C10.7249 9.81282 10.7849 9.63178 10.9048 9.4809C11.0247 9.33003 11.2046 9.15653 11.4445 8.9604C11.6773 8.76426 11.8643 8.59076 12.0054 8.43989C12.1464 8.28901 12.2664 8.09288 12.3651 7.85149C12.471 7.61009 12.5239 7.32343 12.5239 6.99151C12.5239 6.38802 12.344 5.90523 11.9842 5.54314C11.6244 5.18105 11.1482 5 10.5556 5C9.94891 5 9.45861 5.18482 9.08471 5.55446C8.71082 5.92409 8.52387 6.40688 8.52387 7.00283V7.31966C8.52387 7.3951 8.55914 7.43281 8.62969 7.43281L9.16937 7.46676C9.23992 7.46676 9.27519 7.42904 9.27519 7.35361V7.00283C9.27519 6.62565 9.38807 6.32013 9.61382 6.08628C9.84662 5.85243 10.1535 5.7355 10.5345 5.7355C10.9083 5.7355 11.2082 5.85243 11.4339 6.08628C11.6597 6.31259 11.7725 6.61433 11.7725 6.99151C11.7725 7.22537 11.7302 7.42904 11.6456 7.60255C11.568 7.77605 11.4692 7.92692 11.3493 8.05516C11.2293 8.17586 11.0671 8.32296 10.8625 8.49646C10.5591 8.75295 10.3334 8.98303 10.1852 9.1867C10.0371 9.39038 9.96302 9.65441 9.96302 9.97878V10.6464ZM9.91011 12.819C10.023 12.9397 10.1641 13 10.3334 13C10.5027 13 10.6438 12.9397 10.7567 12.819C10.8695 12.6983 10.926 12.5474 10.926 12.3663C10.926 12.1777 10.8695 12.0269 10.7567 11.9137C10.6509 11.793 10.5098 11.7327 10.3334 11.7327C10.1641 11.7327 10.023 11.793 9.91011 11.9137C9.79724 12.0269 9.7408 12.1777 9.7408 12.3663C9.7408 12.5474 9.79724 12.6983 9.91011 12.819Z" fill="white"/>
    </g>
    <defs>
    <filter id="filter0_d_278_5963" x="0.523438" y="0" width="20" height="20" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dy="1"/>
    <feGaussianBlur stdDeviation="1"/>
    <feComposite in2="hardAlpha" operator="out"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_278_5963"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_278_5963" result="shape"/>
    </filter>
    </defs>
    </svg>
    