<script>
  import { activeSeries, activeSeriesIndex, toggleMobilePlayerVisible } from '../store'
  import { slide } from 'svelte/transition'
  import Question from './Question.svelte'
  import sendMetrik from '../../metrika'
  let isDescriptionOpen = false
  const toggleDescription = () => {
    isDescriptionOpen = !isDescriptionOpen
  }
  activeSeriesIndex.subscribe(() => {
    isDescriptionOpen = false
  })

  const readClick = ()=>{
    sendMetrik('Ibible.CTA', {'Ibible.CTAEpisodeName': $activeSeries.alias, 'Ibible.CTAType': 'book'})
  }
</script>

<div class="series">
  <div class="seriesNumber">{$activeSeries.number}</div>
  <div class="seriesName">{$activeSeries.name}</div>
  <div class="interactiveWrapper">
    <div class="interactive">
      <div class="dot" />
      <div class="interactiveText">Интерактивное видео </div>
      <div class="question"><Question/></div>
      <div class="hint">
        <div class="triangle" />
        Переходите по ссылкам, копируйте текст<br />
        и многое другое — прямо в этой записи.
      </div>
    </div>
    <div class="duration">{$activeSeries.duration}</div>
  </div>

  <button class="watchNow" on:click={toggleMobilePlayerVisible}>Смотреть сейчас</button>

  <div class="read"><a href="https://rusneb.ru/catalog/000199_000009_003422516/" target="_blank" on:click={readClick}>Читать книгу</a></div>

  <div class="description">
    <div class="descriptionHeader">Описание серии</div>
    <div>{$activeSeries.description}</div>
  </div>
  {#if $activeSeries.fullDescription}
  {#if isDescriptionOpen}
    <div in:slide|local class="additionalDescription">{$activeSeries.fullDescription}</div>
  {/if}
  <div class="more" on:click={toggleDescription}>{isDescriptionOpen ? 'Свернуть' : 'Читать ещё'}</div>
  {/if}
</div>

<style>
  .read{
    display: none;
    text-align: center;
    margin-top: 16px;
  }
  .read a{
    color: var(--accent);
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
  .read a:hover{
    color: var(--accent-hover);
  }
  .descriptionHeader {
    display: none;
  }
  .watchNow {
    display: none;
  }
  .series {
    margin-top: 125px;
  }
  .seriesNumber {
    font-size: 16px;
    line-height: 19px;
    color: #b8b8b8;
  }
  .seriesName {
    font-weight: 900;
    font-size: 32px;
    line-height: 37px;
    margin-top: 8px;
  }
  .interactive {
    margin-top: 16px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .dot {
    min-width: 4px;
    min-height: 4px;
    max-width: 4px;
    max-height: 4px;
    border-radius: 50%;
    background-color: #02ff63;
    margin-right: 8px;
  }
  .interactiveText {
    font-size: 16px;
    line-height: 19px;
    color: #b8b8b8;
    text-decoration: dashed;
    border-bottom: 1px dashed;
  }
  .interactive:hover .hint {
    visibility: visible;
  }
  .hint {
    color: #000000;
    visibility: hidden;
    position: absolute;
    background: white;
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 10px 16px;
    left: 100%;
    bottom: -8px;
    white-space: nowrap;
    transform: translateX(10px);
    z-index: 99;
  }
  .interactiveWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .triangle {
    position: absolute;
    position: absolute;

    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid white;
    left: -8px;
    bottom: 10px;
  }
  .description {
    margin-top: 64px;
    font-size: 16px;
    line-height: 150%;
    /* white-space: pre-wrap; */
  }
  .additionalDescription {
    font-size: 16px;
    line-height: 150%;
    white-space: pre-wrap;
    margin-top: 16px;
  }
  .more {
    font-size: 16px;
    line-height: 150%;
    text-decoration-line: underline;
    color: #b19066;
    margin-top: 24px;
    cursor: pointer;
  }
  .more:hover {
    color: #c3a989;
  }
  .duration {
    font-size: 16px;
    line-height: 19px;

    color: #b8b8b8;
  }
  .question{
    display: none;
  }
  @media screen and (max-width: 650px) {
    .read{
      display: block;
    }
    .watchNow{
      box-shadow: -24px 0px 0px 0px #b19066, 24px 0px 0px 0px #b19066 ;
    }
    .seriesNumber {
      font-size: 12px;
      line-height: 14px;
    }
    .seriesName {
      font-weight: normal;
      font-size: 21px;
      line-height: 150%;
    }
    .interactiveText {
      font-size: 12px;
      line-height: 14px;
    }
    .duration {
      font-size: 12px;
      line-height: 14px;
    }
    
    .watchNow {
      display: block;
      width: 100%;
      max-width: 350px;
      margin: 0 auto;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;
      background-color: #b19066;
      border: none;
      outline: none;
      padding: 12px 24px;
      cursor: pointer;
      margin-top: 40px;
    }
    .watchNow:hover {
      background-color: #c3a989;
    }
    .series {
      margin-top: 56px;
    }
    .descriptionHeader {
      display: block;
      font-size: 12px;
      line-height: 14px;
      color: #b8b8b8;
      margin-bottom: 16px;
    }
    .interactiveText{
      margin-right: 8px;
    }
    .hint{
      transform: translate(10px, -36px);
      left: 0;
      box-sizing: border-box;
    max-width: 90vw;
    white-space: initial;
    }
    .question{
      display: block;
    }
    .triangle{
      left: 41%;
    bottom: -10px;
    transform: rotate(-90deg);
    
    }
    .description{
      margin-top: 16px;
    }
  }
</style>
