<svg  viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path
    d="M13 25C19.6274 25 25 19.6274 25 13C25 6.37258 19.6274 1 13 1C6.37258 1 1 6.37258 1 13C1 19.6274 6.37258 25 13 25Z"
  />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M13.7171 20.0909H11.0567V13.8173H9.72729V11.6557H11.0567V10.3579C11.0567 8.59456 11.807 7.54541 13.9399 7.54541H15.7151V9.70785H14.6056C13.7753 9.70785 13.7204 10.0099 13.7204 10.5737L13.7167 11.6557H15.7273L15.492 13.8173H13.7167V20.0909H13.7171Z"
  />
</svg>

<style>
  svg {
    width: 26px;
    height: 26px;
  }
  @media screen and (max-width: 650px) {
    svg {
      width: 32px;
      height: 32px;
    }
  }
</style>
