<script>
  import { activeSeriesIndex } from '../../store';
  import {fade} from 'svelte/transition'
  import items from '../../items';
  import sendMetrik from '../../../metrika';
  import Facebook from './Facebook.svelte';
  import Ok from './Ok.svelte';
  import Tg from './Tg.svelte';
  import Twitter from './Twitter.svelte';
  import Vk from './Vk.svelte';
  import Link from './Link.svelte';

  export let quiz = false;
  let copied = false

  function fallbackCopyTextToClipboard(text) {
    var textArea = document.createElement('textarea');
    textArea.value = text;

    // Avoid scrolling to bottom
    textArea.style.top = '0';
    textArea.style.left = '0';
    textArea.style.position = 'fixed';

    document.body.appendChild(textArea);
    textArea.focus();
    textArea.select();

    try {
      var successful = document.execCommand('copy');
      var msg = successful ? 'successful' : 'unsuccessful';
      console.log('Fallback: Copying text command was ' + msg);
    } catch (err) {
      console.error('Fallback: Oops, unable to copy', err);
    }

    document.body.removeChild(textArea);
  }
  function copyTextToClipboard(text) {
    if (!navigator.clipboard) {
      fallbackCopyTextToClipboard(text);
      return;
    }
    navigator.clipboard.writeText(text).then(
      function () {
        console.log('Async: Copying to clipboard was successful!');
      },
      function (err) {
        console.error('Async: Could not copy text: ', err);
      },
    );
  }

  const shareUrl = encodeURIComponent(window.location.origin + `?episode=${$activeSeriesIndex + 1}`);
  const title = encodeURIComponent('iBible');
  const onClick = (type) => {
    sendMetrik('Ibible.SocialShare', {
      'Ibible.SocialShareType': type,
      'Ibible.SocialShareEpisodeName': items[$activeSeriesIndex].alias,
    });
    if (type === 'link') {
      copyTextToClipboard(window.location.origin + `?episode=${$activeSeriesIndex + 1}`)
      copied = true;
      setTimeout(()=>{
        copied=false;
      }, 2000)
    }
  };
</script>

<div class="social" class:quiz>
  <a on:click|preventDefault={() => onClick('link')} href="/" target="_blank" class="link"><Link />
    {#if copied}<div class="copied" transition:fade|local>Ссылка скопирована</div>{/if}
  </a>

  <a
    on:click={() => onClick('fb')}
    href={`https://www.facebook.com/sharer.php?src=sp&u=${shareUrl}&title=${title}&utm_source=share2`}
    target="_blank"><Facebook /></a
  >
  <a
    on:click={() => onClick('tw')}
    href={`https://twitter.com/intent/tweet?text=${title}&url=${shareUrl}&utm_source=share2`}
    target="_blank"><Twitter /></a
  >
  <a
    on:click={() => onClick('vk')}
    href={`https://vk.com/share.php?url=${shareUrl}&title=${title}&utm_source=share2`}
    target="_blank"><Vk /></a
  >
  <a
    on:click={() => onClick('ok')}
    href={`https://connect.ok.ru/offer?url=${shareUrl}&title=${title}&utm_source=share2`}
    target="_blank"><Ok /></a
  >
  <a
    on:click={() => onClick('tg')}
    href={`https://t.me/share/url?url=${shareUrl}&text=${title}&utm_source=share2`}
    target="_blank"><Tg /></a
  >
</div>

<style>
  .link{
    position: relative;
  }
  .copied{
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translate(-100%, -50%);
    font-size: 12px;
line-height: 150%;
padding: 8px 16px;
    background-color: white;
    color: black;
    border-radius: 4px;
    white-space: nowrap;
  }
  .social {
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }
  a {
    margin: 0 6px;
  }
  a :global(svg) {
    display: block;
  }
  a :global(path:first-child) {
    stroke: #b8b8b8;
  }
  a :global(path:nth-child(2)) {
    fill: #b8b8b8;
  }
  a:hover :global(path:first-child) {
    stroke: #ffffff;
  }
  a:hover :global(path:nth-child(2)) {
    fill: #ffffff;
  }
  @media screen and (max-width: 650px) {
    .social {
      position: fixed;
      flex-direction: column;
      bottom: 184px;
      right: 10px;
      z-index: 2;
    }
    a {
      margin-top: 24px;
    }
    a :global(path:first-child) {
      stroke: #fff;
    }
    a :global(path:nth-child(2)) {
      fill: #fff;
    }
  }
  .quiz.social {
    margin-top: 0;
    position: initial;
    flex-direction: row;
    bottom: initial;
    right: initial;
    z-index: initial;
  }
  .quiz a {
    margin-top: 0;
  }
  .quiz a :global(path:first-child) {
    stroke: #000000;
  }
  .quiz a :global(path:nth-child(2)) {
    fill: #000000;
  }
  .quiz a:hover :global(path:first-child) {
    stroke: var(--accent);
  }
  .quiz a:hover :global(path:nth-child(2)) {
    fill: var(--accent);
  }
  .quiz a :global(svg) {
    width: 32px;
    height: 32px;
  }
  .quiz .copied{
    background-color: black;
    color: white;
    left: 0;
    top: -8px;
    transform: translate(0, -100%);
  }
</style>
