<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path
    d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z"
    
  />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M9.98376 11.3229C10.8897 10.4169 12.0941 10.2755 13 11.1815C13.1664 11.3478 13.1664 11.6176 13 11.784C12.8336 11.9504 12.5638 11.9504 12.3974 11.784C11.8243 11.2109 11.1595 11.3523 10.5863 11.9255L8.24297 14.2688C7.66983 14.842 7.66983 15.7712 8.24297 16.3444C8.81612 16.9175 9.74538 16.9175 10.3185 16.3444L11.6542 15.0001C11.8206 14.8337 12.0904 14.8337 12.2568 15.0001C12.4232 15.1665 12.4232 15.4363 12.2568 15.6027L10.9211 16.9469C10.0152 17.8529 8.54634 17.8529 7.64039 16.9469C6.73445 16.041 6.73445 14.5722 7.64039 13.6662L9.98376 11.3229ZM13.6662 7.64044C14.5721 6.7345 16.041 6.7345 16.9469 7.64044C17.8528 8.54639 17.8528 10.0152 16.9469 10.9212L14.6035 13.2645C13.6976 14.1705 12.4179 14.1705 11.512 13.2645C11.3456 13.0981 11.3456 12.8283 11.512 12.6619C11.6784 12.4955 11.9482 12.4955 12.1146 12.6619C12.6877 13.2351 13.4278 13.2351 14.001 12.6619L16.3443 10.3186C16.9175 9.74543 16.9175 8.81617 16.3443 8.24302C15.7712 7.66988 14.8419 7.66988 14.2688 8.24302L13 9.50009C12.8336 9.66649 12.5638 9.66649 12.3974 9.50009C12.231 9.33369 12.231 9.06391 12.3974 8.89751L13.6662 7.64044Z"
    
  />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M9.84312 11.1815C10.8272 10.1974 12.1582 10.056 13.1422 11.04C13.3867 11.2845 13.3867 11.6809 13.1422 11.9255C12.8977 12.17 12.5013 12.17 12.2568 11.9255C11.7617 11.4304 11.2236 11.5718 10.7285 12.0669L8.38518 14.4102C7.89013 14.9053 7.89013 15.7079 8.38518 16.2029C8.88022 16.698 9.68284 16.698 10.1779 16.2029L11.5136 14.8587C11.7581 14.6142 12.1545 14.6142 12.399 14.8587C12.6435 15.1032 12.6435 15.4996 12.399 15.7441L11.0633 17.0884C10.0793 18.0724 8.4838 18.0724 7.49975 17.0884C6.51571 16.1043 6.51571 14.5089 7.49975 13.5248L9.84312 11.1815ZM13.5255 7.49902C14.5096 6.51497 16.1051 6.51497 17.0891 7.49902C18.0731 8.48307 18.0731 10.0785 17.0891 11.0626L14.7457 13.4059C13.7617 14.39 12.3554 14.39 11.3714 13.4059C11.1269 13.1614 11.1269 12.765 11.3714 12.5205C11.6159 12.276 12.0123 12.276 12.2568 12.5205C12.7518 13.0156 13.3653 13.0156 13.8603 12.5205L16.2037 10.1772C16.6987 9.68211 16.6987 8.87949 16.2037 8.38444C15.7086 7.8894 14.906 7.8894 14.411 8.38444L13.1422 9.64151C12.8977 9.88601 12.5013 9.88601 12.2568 9.64151C12.0123 9.39701 12.0123 9.00059 12.2568 8.75609L13.5255 7.49902ZM13 11.1815C12.0941 10.2755 10.8897 10.4169 9.98376 11.3229L7.64039 13.6662C6.73445 14.5722 6.73445 16.041 7.64039 16.9469C8.54634 17.8529 10.0152 17.8529 10.9211 16.9469L12.2568 15.6027C12.4232 15.4363 12.4232 15.1665 12.2568 15.0001C12.0904 14.8337 11.8206 14.8337 11.6542 15.0001L10.3185 16.3444C9.74538 16.9175 8.81612 16.9175 8.24297 16.3444C7.66983 15.7712 7.66983 14.842 8.24297 14.2688L10.5863 11.9255C11.1595 11.3523 11.8243 11.2109 12.3974 11.784C12.5638 11.9504 12.8336 11.9504 13 11.784C13.1664 11.6176 13.1664 11.3478 13 11.1815ZM16.9469 7.64044C16.041 6.7345 14.5721 6.7345 13.6662 7.64044L12.3974 8.89751C12.231 9.06391 12.231 9.33369 12.3974 9.50009C12.5638 9.66649 12.8336 9.66649 13 9.50009L14.2688 8.24302C14.8419 7.66988 15.7712 7.66988 16.3443 8.24302C16.9175 8.81617 16.9175 9.74543 16.3443 10.3186L14.001 12.6619C13.4278 13.2351 12.6877 13.2351 12.1146 12.6619C11.9482 12.4955 11.6784 12.4955 11.512 12.6619C11.3456 12.8283 11.3456 13.0981 11.512 13.2645C12.4179 14.1705 13.6976 14.1705 14.6035 13.2645L16.9469 10.9212C17.8528 10.0152 17.8528 8.54639 16.9469 7.64044Z"
    
  />
</svg>

<style>
  svg {
    width: 26px;
    height: 26px;
  }
  @media screen and (max-width: 650px) {
    svg {
      width: 32px;
      height: 32px;
    }
  }
</style>
