<svg viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path
    d="M13 25C19.6274 25 25 19.6274 25 13C25 6.37258 19.6274 1 13 1C6.37258 1 1 6.37258 1 13C1 19.6274 6.37258 25 13 25Z"
    
  />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M12.9931 8.4344C13.77 8.4344 14.4019 9.0616 14.4019 9.83291C14.4019 10.6036 13.77 11.2312 12.9931 11.2312C12.2169 11.2312 11.5844 10.6036 11.5844 9.83291C11.5844 9.0616 12.2169 8.4344 12.9931 8.4344ZM12.9931 13.2102C14.8699 13.2102 16.3955 11.6953 16.3955 9.83291C16.3955 7.96992 14.8699 6.45459 12.9931 6.45459C11.1168 6.45459 9.59075 7.96992 9.59075 9.83291C9.59075 11.6953 11.1168 13.2102 12.9931 13.2102ZM14.3784 15.9675C15.071 15.8108 15.7389 15.5388 16.3541 15.1551C16.8197 14.8637 16.96 14.2527 16.6666 13.7904C16.3735 13.3271 15.7585 13.1877 15.2921 13.4791C13.8984 14.3493 12.1041 14.3491 10.7112 13.4791C10.2448 13.1877 9.62958 13.3271 9.33704 13.7904C9.04368 14.2531 9.18354 14.8637 9.64912 15.1551C10.2643 15.5384 10.9323 15.8108 11.6248 15.9675L9.72261 17.8561C9.33378 18.2426 9.33378 18.8692 9.72302 19.2557C9.91784 19.4487 10.1727 19.5453 10.4276 19.5453C10.6829 19.5453 10.9382 19.4487 11.133 19.2557L13.0014 17.3997L14.8715 19.2557C15.2603 19.6421 15.8912 19.6421 16.2804 19.2557C16.6701 18.8692 16.6701 18.2422 16.2804 17.8561L14.3784 15.9675Z"
    
  />
</svg>
<style>
  svg {
    width: 26px;
    height: 26px;
  }
  @media screen and (max-width: 650px) {
    svg {
      width: 32px;
      height: 32px;
    }
  }
</style>