<svg  viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path
    d="M13 25C19.6274 25 25 19.6274 25 13C25 6.37258 19.6274 1 13 1C6.37258 1 1 6.37258 1 13C1 19.6274 6.37258 25 13 25Z"
    
  />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M17.904 7.50222L16.1897 17.7877C16.1674 17.9172 16.096 18.0176 15.9754 18.0891C15.9129 18.1248 15.8437 18.1426 15.7679 18.1426C15.7187 18.1426 15.6652 18.1315 15.6071 18.1092L12.5737 16.8703L10.9532 18.8458C10.8729 18.9484 10.7635 18.9998 10.6251 18.9998C10.5671 18.9998 10.518 18.9908 10.4778 18.973C10.393 18.9417 10.3249 18.8893 10.2735 18.8156C10.2222 18.742 10.1965 18.6605 10.1965 18.5712V16.2342L15.9821 9.14282L8.82379 15.3369L6.17875 14.2521C6.01358 14.1896 5.92429 14.0668 5.9109 13.8838C5.90197 13.7052 5.9734 13.5735 6.12518 13.4887L17.2678 7.06027C17.3348 7.02009 17.4062 7 17.4821 7C17.5714 7 17.6517 7.02455 17.7232 7.07366C17.8705 7.1808 17.9308 7.32365 17.904 7.50222Z"
    
  />
</svg>
<style>
  svg {
    width: 26px;
    height: 26px;
  }
  @media screen and (max-width: 650px) {
    svg {
      width: 32px;
      height: 32px;
    }
  }
</style>
