<svg  viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path
    d="M13 25C19.6274 25 25 19.6274 25 13C25 6.37258 19.6274 1 13 1C6.37258 1 1 6.37258 1 13C1 19.6274 6.37258 25 13 25Z"
    
  />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M17.652 10.1884C18.1375 9.88212 18.5099 9.39638 18.6848 8.81776C18.2303 9.10211 17.728 9.30775 17.1922 9.41908C16.7646 8.93689 16.1534 8.63623 15.477 8.63623C14.1794 8.63623 13.1279 9.74597 13.1279 11.1145C13.1279 11.3088 13.1474 11.4982 13.1878 11.679C11.2353 11.5754 9.50404 10.5898 8.34426 9.08934C8.14189 9.45666 8.02625 9.88212 8.02625 10.3359C8.02625 11.1954 8.44108 11.9541 9.07173 12.3994C8.68648 12.3867 8.32409 12.2739 8.00675 12.0895V12.12C8.00675 13.3212 8.81624 14.3232 9.89265 14.5501C9.69498 14.6083 9.4879 14.6373 9.27275 14.6373C9.12148 14.6373 8.97357 14.6224 8.83103 14.5934C9.12955 15.5776 9.99753 16.2952 11.0262 16.3144C10.2214 16.9795 9.20821 17.3752 8.1076 17.3752C7.918 17.3752 7.73042 17.3645 7.54688 17.3411C8.58697 18.0438 9.82205 18.4544 11.1492 18.4544C15.4723 18.4544 17.8349 14.6778 17.8349 11.4024C17.8349 11.2946 17.8336 11.1876 17.8289 11.0819C18.2881 10.7323 18.6874 10.2955 19.0014 9.79844C18.5799 9.99557 18.1267 10.1289 17.652 10.1884Z"
    
  />
</svg>
<style>
  svg {
    width: 26px;
    height: 26px;
  }
  @media screen and (max-width: 650px) {
    svg {
      width: 32px;
      height: 32px;
    }
  }
</style>