<svg viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path
    d="M13 25C19.6274 25 25 19.6274 25 13C25 6.37258 19.6274 1 13 1C6.37258 1 1 6.37258 1 13C1 19.6274 6.37258 25 13 25Z"
    
  />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M13.3971 17.3261C13.3971 17.3261 13.6432 17.2993 13.7692 17.1664C13.8846 17.0446 13.8806 16.8148 13.8806 16.8148C13.8806 16.8148 13.8653 15.7418 14.3728 15.5834C14.8731 15.4276 15.5153 16.621 16.197 17.08C16.7119 17.4269 17.1027 17.351 17.1027 17.351L18.9241 17.3261C18.9241 17.3261 19.8766 17.2685 19.425 16.5333C19.3877 16.4731 19.1616 15.9893 18.0711 14.9955C16.9286 13.9552 17.082 14.1234 18.4573 12.3237C19.295 11.2278 19.6298 10.5587 19.5251 10.2726C19.4257 9.99894 18.8094 10.0716 18.8094 10.0716L16.7592 10.084C16.7592 10.084 16.6071 10.0638 16.4944 10.1299C16.3844 10.1947 16.313 10.3459 16.313 10.3459C16.313 10.3459 15.9889 11.1937 15.556 11.9152C14.643 13.4367 14.2781 13.5172 14.1287 13.4229C13.7813 13.2023 13.868 12.5378 13.868 12.0658C13.868 10.5908 14.0961 9.97602 13.4244 9.81694C13.2017 9.76391 13.0376 9.72921 12.4674 9.72332C11.7357 9.71612 11.1168 9.72594 10.7659 9.89419C10.5325 10.0061 10.3524 10.2562 10.4625 10.2706C10.5979 10.2883 10.9047 10.3518 11.0674 10.5692C11.2775 10.85 11.2702 11.4798 11.2702 11.4798C11.2702 11.4798 11.3909 13.216 10.988 13.4314C10.7119 13.5794 10.3331 13.2776 9.51874 11.8969C9.1019 11.1898 8.78709 10.4081 8.78709 10.4081C8.78709 10.4081 8.7264 10.2621 8.61769 10.1836C8.4863 10.0886 8.30288 10.0592 8.30288 10.0592L6.35471 10.0716C6.35471 10.0716 6.06191 10.0795 5.95453 10.2045C5.85916 10.3151 5.9472 10.5449 5.9472 10.5449C5.9472 10.5449 7.47252 14.0481 9.19994 15.8138C10.784 17.4322 12.5821 17.3261 12.5821 17.3261H13.3971Z"
    
  />
</svg>
<style>
  svg {
    width: 26px;
    height: 26px;
  }
  @media screen and (max-width: 650px) {
    svg {
      width: 32px;
      height: 32px;
    }
  }
</style>
