<script>
  import Ibible from './Ibible.svelte'
  import GooglePlay from './GooglePlay.svelte'
  import AppStore from './AppStore.svelte'
  import sendMetrik from '../../metrika'
  import { activeSeries } from '../store'
  const readClick = ()=>{
    sendMetrik('Ibible.CTA', {'Ibible.CTAEpisodeName': $activeSeries.alias, 'Ibible.CTAType': 'book'})
  }
</script>

<div class="contaier">
  <div class="wrapper">
    <div class="text">Узнай больше в мобильном приложении</div>
    <a class="apps" href="https://screenlifevideoplatform.blob.core.windows.net/interactive/ibible.apk" target="_blank" on:click={readClick}>
      <div class="ibible">
        <Ibible />
        <div class="age">16+</div>
      </div>

      <div class="googlePlay"><GooglePlay /></div>
      <div><AppStore /></div>
    </a>
  </div>
</div>

<style>
  .contaier {
    padding: 40px 16px;
    margin-top:72px;
  }
  .wrapper {
    max-width: 940px;
    margin: 0 auto;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .text {
    font-size: 21px;
    line-height: 25px;
    margin: 0 16px;
    margin-top: 48px;
    text-align: center;
  }
  .apps{
      display: flex;
      align-items: center;
      margin-top: 48px;
      text-decoration: none;
  }
  .ibible{
      display: flex;
      margin-bottom: -27px;
  }
  .age{
    font-size: 12px;
line-height: 14px;
color: rgba(184, 184, 184, 0.5);
    margin-top: 21px;
    margin-left: 10px;
    
  }
  .googlePlay{
      margin: 0 16px;
  }

  @media screen and (max-width: 500px) {
    .apps{
        flex-direction: column;
        align-items: center;
    }
    .googlePlay{
        margin: 32px 0 8px 0;
    }
    .ibible{
        margin-bottom: 0;
        margin-left: 30px;
    }
  }
  
</style>
