<script>
  import Close from './Close.svelte';
  import Clock from './Clock.svelte';
  import Stack from './Stack.svelte';
  import { fade } from 'svelte/transition';
  import { onMount } from 'svelte';
  import sendMetrik from '../../../../metrika';
  import Step from './Step.svelte';
  import Result from './Result.svelte';

  export let item;
  export let myPlayer;
  let isOpen = false;
  let isVisible = false;
  const close = () => {
    isVisible = false;
    if (isOpen) {
      myPlayer.play();
    }
  };
  const open = () => {
    isOpen = true;
    sendMetrik('Ibible.ActivityInteraction', { 'Ibible.ActivityName': 'Fact' });
    myPlayer.pause();
  };
  onMount(() => {
    sendMetrik('Ibible.ActivityShow', { 'Ibible.ActivityName': 'Fact' });
    isVisible = true;
  });

  let questionIndex = 0;
  let rightAnwsers = 0;
  let showResult = false;
</script>

{#if isVisible}
  <div class="ctaWrapper" class:isOpen transition:fade|local>
    <div class="header">
      <div class="headerText">
        {#if isOpen && showResult}
          Результат
        {:else if isOpen && !showResult}
          Вопрос {questionIndex + 1} из {item.questions.length}
        {:else}
          Тест на внимательность
        {/if}
      </div>
      <div class="close" on:click={close}><Close /></div>
    </div>
    {#if isOpen}
      {#if showResult}
        <Result {rightAnwsers} {item} {close}/>
      {:else}
        <Step {item} bind:questionIndex bind:rightAnwsers bind:showResult {myPlayer}/>
      {/if}
    {:else}
      <div class="title">Насколько внимательно вы смотрели?</div>
      <div class="more" on:click={open}>Пройти тест</div>
      <div class="footerItems">
        <div class="footerItem">
          <div class="icon"><Clock /></div>
          <div>15 сек</div>
        </div>
        <div class="footerItem">
          <div class="icon"><Stack /></div>
          <div>{item.questions.length} вопроса</div>
        </div>
      </div>
    {/if}
  </div>
{/if}

<style>
  .footerItems {
    display: flex;
    justify-content: center;
    margin-top: calc(var(--playerWidth) * 0.073);
  }
  .footerItem {
    display: flex;
  }
  .footerItem:first-child {
    margin-right: calc(var(--playerWidth) * 0.073);
  }
  .ctaWrapper {
    position: absolute;
    bottom: calc(var(--playerWidth) * 0.0225);
    left: calc(var(--playerWidth) * 0.045);
    right: calc(var(--playerWidth) * 0.045);
    background: #ffffff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2), 0px 12px 13px rgba(0, 0, 0, 0.25);
    border-radius: calc(var(--playerWidth) * 0.01);
    padding: calc(var(--playerWidth) * 0.045);
    z-index: 9;
    display: flex;
    flex-direction: column;
    animation: drift 2s ease-in-out infinite;
  }
  .isOpen {
    top: calc(var(--playerWidth) * 0.2);
    padding: 0;
    display: flex;
    flex-direction: column;
    animation: none;
  }
  .isOpen .header {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    padding: calc(var(--playerWidth) * 0.045);
  }

  .icon,
  .close {
    width: calc(var(--playerWidth) * 0.045);
    height: calc(var(--playerWidth) * 0.045);
  }
  .icon {
    margin-right: calc(var(--playerWidth) * 0.0225);
  }
  .close {
    margin-left: auto;
    cursor: pointer;
  }
  .header {
    display: flex;
    align-items: center;
  }
  .headerText {
    font-size: calc(var(--playerWidth) * 0.035);
    color: #868686;
  }
  .title {
    font-weight: bold;
    font-size: calc(var(--playerWidth) * 0.045);
    line-height: calc(var(--playerWidth) * 0.055);
    color: #000000;
    margin-top: calc(var(--playerWidth) * 0.065);
  }
  .more {
    padding: calc(var(--playerWidth) * 0.0225);
    width: 100%;
    font-size: calc(var(--playerWidth) * 0.04);
    background: black;
    color: white;
    box-sizing: border-box;
    margin-top: calc(var(--playerWidth) * 0.065);
    text-align: center;
    cursor: pointer;
  }
  @keyframes drift {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5%);
    }
    10% {
      transform: translateY(0);
    }
  }
</style>
