<script>
  import Social from '../../../MainSection/Social/index.svelte';
  export let rightAnwsers;
  export let item;
  export let close;
  const wrongAnswers = {
    4: { title: 'Ой...', image: '0' },
    3: { title: 'Вы точно смотрели?', image: '1' },
    2: { title: 'Неплохо!', image: '2' },
    1: { title: 'А вы молодец!', image: '3' },
    0: { title: 'Вот это да!', image: '4' },
  };
  const resultItem = wrongAnswers[item.questions.length - rightAnwsers];
</script>
<div class="progressContainer"><div class="progress" /></div>
<div class="container">
  <div class="headerContainer">
    <div class="img"><img src={`./images/quiz/${resultItem.image}.png`} alt="result" /></div>
    <div class="title">{resultItem.title}</div>
    <div class="answers">Правильных ответов</div>
    <div class="answers">{rightAnwsers}{' из '}{item.questions.length}</div>
  </div>
  <div class="shareTitle">Поделитесь серией:</div>
  <Social quiz />
  <div class="seeNext" on:click={close}>Смотреть дальше</div>
</div>

<style>
  .progressContainer{
    height:2px;
    background: rgba(0, 177, 68, 0.3);
    width: 100%;
  }
  .progress{
    height:2px;
    background: #00B144;
    width: 100%;
  }
  .shareTitle {
    font-size: calc(var(--playerWidth) * 0.045);
    line-height: 150%;
    margin-bottom: calc(var(--playerWidth) * 0.045);
    text-align: center;
  }
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .headerContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .seeNext {
    text-decoration-line: underline;
    font-size: calc(var(--playerWidth) * 0.04);
    cursor: pointer;
    padding-top: calc(var(--playerWidth) * 0.11);
    padding-bottom: calc(var(--playerWidth) * 0.09);
  }
  .title {
    font-weight: bold;
    font-size: calc(var(--playerWidth) * 0.047);
    line-height: 120%;
    margin-bottom: calc(var(--playerWidth) * 0.047);
  }
  .answers {
    font-size: calc(var(--playerWidth) * 0.045);
    line-height: 150%;
  }
  .img img {
    width: calc(var(--playerWidth) * 0.2);
    padding-top: calc(var(--playerWidth) * 0.11);
    padding-bottom: calc(var(--playerWidth) * 0.07);
    margin-bottom: calc(var(--playerWidth) * 0.07);
  }
</style>
