<svg  viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M6.364 10.1823L15.556 0.989258L16.971 2.40326L6.364 13.0103L0 6.64626L1.414 5.23226L6.364 10.1823Z" fill="#00B144"/>
    </svg>
    