<script>
  import Right from './Right.svelte';
  import Wrong from './Wrong.svelte';
  export let item;
  export let questionIndex;
  export let showResult;
  export let rightAnwsers;
  export let myPlayer;

  $: activeQuestion = item.questions[questionIndex];

  let selected;
  let answerIsWrong = false;
  const select = (text) => {
    if (selected) return;
    if(text===activeQuestion.right){
      rightAnwsers +=1;
    } else {
      // TODO: выпилить к херам
      answerIsWrong = true;
      setTimeout(()=>{
        myPlayer.currentTime(activeQuestion.redirect);
        myPlayer.play();
      }, 1000)
    }
    selected = text;
  };

  const nextStep = ()=>{
    if(!selected) return;
    selected=null;

    if(questionIndex === item.questions.length -1){
      showResult = true;
      return;
    }
    questionIndex +=1;
  }
</script>
<div class="progressContainer"><div class="progress" style={`width: ${Math.round((questionIndex) /item.questions.length*100)}%`}/></div>
<div class="container">
  <div class="title">
    {activeQuestion.title}
  </div>
  <div>
    {#each activeQuestion.varinats as variant}
      <div class="variant" 
      class:rightAnswer={selected === variant && selected === activeQuestion.right}
      class:wrongAnswer={selected === variant && selected !== activeQuestion.right}
      on:click={() => select(variant)}>
        <div>{variant}</div>
        {#if selected === variant && selected === activeQuestion.right}
          <div class="icon"><Right /></div>
        {:else if selected === variant && selected !== activeQuestion.right}
        <div class="icon"><Wrong /></div>
        {/if}
      </div>
    {/each}
  </div>
  <div class="nextQuestionContainer" class:answerIsWrong>
    <div class="nextQuestion" on:click={nextStep} class:nextActive={selected}>
      {questionIndex === item.questions.length -1?'Скорее к результатам': 'Следующий вопрос'}
      
    </div>
  </div>
</div>

<style>
  .progressContainer{
    height:2px;
    background: rgba(0, 177, 68, 0.3);
    width: 100%;
  }
  .progress{
    height:2px;
    background: #00B144;
    transition: width 0.2s linear;
  }
  .answerIsWrong{
    visibility: hidden;
  }
  .rightAnswer{
    color: #00B144;
  }
  .wrongAnswer{
    color: #B10000;
  }
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .title {
    padding: calc(var(--playerWidth) * 0.065);
    font-size: calc(var(--playerWidth) * 0.055);
    line-height: 120%;
    font-weight: 700;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .variant {
    padding: calc(var(--playerWidth) * 0.045) calc(var(--playerWidth) * 0.065);
    font-size: calc(var(--playerWidth) * 0.045);
    line-height: 150%;
    border-top: 1px solid #000000;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .variant:last-child {
    border-bottom: 1px solid #000000;
  }
  .variant:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  .nextQuestion {
    background: rgba(0, 0, 0, 0.5);
    padding: calc(var(--playerWidth) * 0.0325) calc(var(--playerWidth) * 0.065);
    font-size: calc(var(--playerWidth) * 0.04);
    color: #ffffff;
    cursor: pointer;
  }
  .nextActive{
    background-color: black;
  }
  .nextActive:hover {
    background: rgba(0, 0, 0, 0.7);
  }
  .nextQuestionContainer {
    display: flex;
    justify-content: center;
    padding: calc(var(--playerWidth) * 0.065);
  }
  .icon{
    width: calc(var(--playerWidth) * 0.045);
    height: calc(var(--playerWidth) * 0.045);
  }
</style>
