<script>
  import { activeSeries } from '../store'
  import Vertical from './Vertical.svelte'
  export let isPlayerReady
</script>

<div class="video">
  <div class="cover" style={`background-image: url('./images/${$activeSeries.image}');`} />

  <div class="gradint">
    {#if isPlayerReady}
    <div class="watch">Смотреть серию</div>
    {/if}
    <div class="vertical">
      <Vertical />
      <div class="verticalText">Вертикальное</div>
    </div>
  </div>
</div>

<style>
  .video {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
  .cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .gradint {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 96.55%);
    
  }
  .watch {
    position: absolute;
    top: 50%;
    transform: translate(-50%, 50px);
    font-size: 12px;
    line-height: 14px;
    margin-top: 8px;
    color: #b8b8b8;
    left: 50%;
  }
  .vertical {
    position: absolute;
    bottom: 34px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .verticalText {
    font-size: 12px;
    line-height: 14px;
    color: #b8b8b8;
    margin-top: 16px;
  }
  @media screen and (max-width: 650px) {
      .video{
          display: none;
      }
  }
</style>
