<svg width="29" height="15" viewBox="0 0 29 15" fill="none" xmlns="http://www.w3.org/2000/svg">
  <rect x="0.5" y="0.5" width="9" height="14" rx="0.5" fill="#B8B8B8" fill-opacity="0.15" stroke="#B8B8B8" />
  <rect
    opacity="0.4"
    x="28.5"
    y="5.5"
    width="9"
    height="14"
    rx="0.5"
    transform="rotate(90 28.5 5.5)"
    fill="#B8B8B8"
    fill-opacity="0.15"
    stroke="#B8B8B8"
  />
</svg>
<style>
    svg{
        display: block;
    }
</style>