<script>
  import Logo from './Logo.svelte'
  import { isPolicyOpen } from '../store'
  import MonteCarlo from './MonteCarlo.svelte'
  const openPolicy = (e) => {
    e.preventDefault()
    $isPolicyOpen = true
  }
</script>

<footer>
  <div class="wrapper">
    <Logo />

    <div class="footerWrapper">
      <div class="footerText">
        Screenlife — это новый формат сторителлинга. Все, что видит зритель, происходит на экране компьютера, планшета
        или смартфона. Вместо декораций — рабочий стол, вместо действий героя — курсор.
      </div>
      <div class="buttonWrapper">
        <a href="/" class="create">Создай свой Screenlife!</a>
        <div class="linkSupport">Это увлекательно, легко и бесплатно!</div>
      </div>
    </div>
    <div class="copyrightWrapper">
      <div>
        <div class="copyright">All Rights Reserved Copyright © 2010-2021 Screenlifer</div>
        <div class="policy">
          <!-- <a href="/" on:click={openPolicy}>Политика конфиденциальности</a><a href="/" on:click={openPolicy}
            >Условия использования</a
          ><a href="/" on:click={openPolicy}>Авторские права</a> -->
        </div>
      </div>
      <div class="monteCarlo"><MonteCarlo /></div>
    </div>
  </div>
</footer>

<style>
  footer {
    /* background-color: #d1bcbc; */
    padding: 40px 16px;
  }
  .wrapper {
    max-width: 940px;
    margin: 0 auto;
  }
  .monteCarlo{
    margin-left: 8px;
  }
  .footerText {
    font-size: 12px;
    line-height: 150%;
    color: #828282;
    max-width: 375px;
  }
  .footerWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  .create {
    background: #ed4453;
    padding: 12px 32px;
    text-decoration: none;
    white-space: nowrap;
    font-size: 16px;
    line-height: 19px;

    color: #ffffff;
  }
  .create:visited {
    color: #ffffff;
  }
  .create:hover {
    background: #d85964;
  }
  .linkSupport {
    font-size: 12px;
    line-height: 150%;
    padding-top: 16px;
    color: #828282;
  }
  .copyright {
    font-size: 12px;
    line-height: 14px;
    color: #b8b8b8;
  }
  .copyrightWrapper {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .policy {
    margin-top: 8px;
  }
  .policy a {
    font-size: 12px;
    line-height: 14px;

    text-decoration-line: underline;
    margin-right: 8px;
    color: #b19066;
  }
  .policy a:visited {
    color: #b19066;
  }
  .policy a:hover {
    color: #c3a989;
  }
  @media screen and (max-width: 650px) {
    footer {
      padding: 24px 16px;
    }
    .footerWrapper {
      flex-direction: column;
    }
    .footerText {
      font-size: 12px;
      line-height: 150%;
    }
    .buttonWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 80px;
    }
    .policy a {
      display: block;
      margin-bottom: 8px;
    }
  }
</style>
