<svg width="100" height="33" viewBox="0 0 100 33" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M40.7627 11.214C41.0934 11.214 41.3615 10.9454 41.3615 10.614C41.3615 10.2827 41.0934 10.014 40.7627 10.014C40.4319 10.014 40.1638 10.2827 40.1638 10.614C40.1638 10.9454 40.4319 11.214 40.7627 11.214Z" fill="#CBA465"/>
    <path d="M40.6017 9.96062C40.9324 9.96062 41.2005 9.69199 41.2005 9.36062C41.2005 9.02925 40.9324 8.76062 40.6017 8.76062C40.271 8.76062 40.0029 9.02925 40.0029 9.36062C40.0029 9.69199 40.271 9.96062 40.6017 9.96062Z" fill="#CBA465"/>
    <path d="M40.7627 8.69982C41.0934 8.69982 41.3615 8.43119 41.3615 8.09982C41.3615 7.76845 41.0934 7.49982 40.7627 7.49982C40.4319 7.49982 40.1638 7.76845 40.1638 8.09982C40.1638 8.43119 40.4319 8.69982 40.7627 8.69982Z" fill="#CBA465"/>
    <path d="M41.245 7.54839C41.5757 7.54839 41.8438 7.27976 41.8438 6.94839C41.8438 6.61702 41.5757 6.34839 41.245 6.34839C40.9143 6.34839 40.6462 6.61702 40.6462 6.94839C40.6462 7.27976 40.9143 7.54839 41.245 7.54839Z" fill="#CBA465"/>
    <path d="M41.9951 6.56487C42.3258 6.56487 42.5939 6.29624 42.5939 5.96487C42.5939 5.6335 42.3258 5.36487 41.9951 5.36487C41.6644 5.36487 41.3963 5.6335 41.3963 5.96487C41.3963 6.29624 41.6644 6.56487 41.9951 6.56487Z" fill="#CBA465"/>
    <path d="M42.9603 5.79924C43.291 5.79924 43.5591 5.53061 43.5591 5.19924C43.5591 4.86787 43.291 4.59924 42.9603 4.59924C42.6296 4.59924 42.3615 4.86787 42.3615 5.19924C42.3615 5.53061 42.6296 5.79924 42.9603 5.79924Z" fill="#CBA465"/>
    <path d="M44.1401 5.36138C44.4708 5.36138 44.7389 5.09275 44.7389 4.76138C44.7389 4.43001 44.4708 4.16138 44.1401 4.16138C43.8093 4.16138 43.5412 4.43001 43.5412 4.76138C43.5412 5.09275 43.8093 5.36138 44.1401 5.36138Z" fill="#CBA465"/>
    <path d="M60.4367 11.214C60.106 11.214 59.8379 10.9454 59.8379 10.614C59.8379 10.2827 60.106 10.014 60.4367 10.014C60.7674 10.014 61.0355 10.2827 61.0355 10.614C61.0355 10.9454 60.7674 11.214 60.4367 11.214Z" fill="#CBA465"/>
    <path d="M60.5924 9.96062C60.2617 9.96062 59.9936 9.69199 59.9936 9.36062C59.9936 9.02925 60.2617 8.76062 60.5924 8.76062C60.9231 8.76062 61.1912 9.02925 61.1912 9.36062C61.1912 9.69199 60.9231 9.96062 60.5924 9.96062Z" fill="#CBA465"/>
    <path d="M60.4367 8.69982C60.106 8.69982 59.8379 8.43119 59.8379 8.09982C59.8379 7.76845 60.106 7.49982 60.4367 7.49982C60.7674 7.49982 61.0355 7.76845 61.0355 8.09982C61.0355 8.43119 60.7674 8.69982 60.4367 8.69982Z" fill="#CBA465"/>
    <path d="M59.9514 7.54839C59.6207 7.54839 59.3526 7.27976 59.3526 6.94839C59.3526 6.61702 59.6207 6.34839 59.9514 6.34839C60.2821 6.34839 60.5502 6.61702 60.5502 6.94839C60.5502 7.27976 60.2821 7.54839 59.9514 7.54839Z" fill="#CBA465"/>
    <path d="M59.2029 6.56487C58.8722 6.56487 58.6041 6.29624 58.6041 5.96487C58.6041 5.6335 58.8722 5.36487 59.2029 5.36487C59.5336 5.36487 59.8017 5.6335 59.8017 5.96487C59.8017 6.29624 59.5336 6.56487 59.2029 6.56487Z" fill="#CBA465"/>
    <path d="M58.2393 5.79924C57.9086 5.79924 57.6405 5.53061 57.6405 5.19924C57.6405 4.86787 57.9086 4.59924 58.2393 4.59924C58.57 4.59924 58.8381 4.86787 58.8381 5.19924C58.8381 5.53061 58.57 5.79924 58.2393 5.79924Z" fill="#CBA465"/>
    <path d="M57.0594 5.36138C56.7287 5.36138 56.4606 5.09275 56.4606 4.76138C56.4606 4.43001 56.7287 4.16138 57.0594 4.16138C57.3901 4.16138 57.6582 4.43001 57.6582 4.76138C57.6582 5.09275 57.3901 5.36138 57.0594 5.36138Z" fill="#CBA465"/>
    <path d="M50.5745 4.70507C50.9052 4.70507 51.1733 4.43644 51.1733 4.10507C51.1733 3.7737 50.9052 3.50507 50.5745 3.50507C50.2438 3.50507 49.9757 3.7737 49.9757 4.10507C49.9757 4.43644 50.2438 4.70507 50.5745 4.70507Z" fill="#CBA465"/>
    <path d="M50.5745 6.01787C50.9052 6.01787 51.1733 5.74924 51.1733 5.41787C51.1733 5.0865 50.9052 4.81787 50.5745 4.81787C50.2438 4.81787 49.9757 5.0865 49.9757 5.41787C49.9757 5.74924 50.2438 6.01787 50.5745 6.01787Z" fill="#CBA465"/>
    <path d="M50.5745 7.33208C50.9052 7.33208 51.1733 7.06345 51.1733 6.73208C51.1733 6.40071 50.9052 6.13208 50.5745 6.13208C50.2438 6.13208 49.9757 6.40071 49.9757 6.73208C49.9757 7.06345 50.2438 7.33208 50.5745 7.33208Z" fill="#CBA465"/>
    <path d="M50.5745 8.64678C50.9052 8.64678 51.1733 8.37815 51.1733 8.04678C51.1733 7.71541 50.9052 7.44678 50.5745 7.44678C50.2438 7.44678 49.9757 7.71541 49.9757 8.04678C49.9757 8.37815 50.2438 8.64678 50.5745 8.64678Z" fill="#CBA465"/>
    <path d="M50.5745 9.96062C50.9052 9.96062 51.1733 9.69199 51.1733 9.36062C51.1733 9.02925 50.9052 8.76062 50.5745 8.76062C50.2438 8.76062 49.9757 9.02925 49.9757 9.36062C49.9757 9.69199 50.2438 9.96062 50.5745 9.96062Z" fill="#CBA465"/>
    <path d="M45.0502 10.2848C45.3809 10.2848 45.649 10.0162 45.649 9.68484C45.649 9.35347 45.3809 9.08484 45.0502 9.08484C44.7195 9.08484 44.4514 9.35347 44.4514 9.68484C44.4514 10.0162 44.7195 10.2848 45.0502 10.2848Z" fill="#CBA465"/>
    <path d="M44.6752 9.08464C45.0059 9.08464 45.274 8.81602 45.274 8.48464C45.274 8.15327 45.0059 7.88464 44.6752 7.88464C44.3445 7.88464 44.0764 8.15327 44.0764 8.48464C44.0764 8.81602 44.3445 9.08464 44.6752 9.08464Z" fill="#CBA465"/>
    <path d="M44.7289 7.82488C45.0596 7.82488 45.3277 7.55625 45.3277 7.22488C45.3277 6.89351 45.0596 6.62488 44.7289 6.62488C44.3982 6.62488 44.1301 6.89351 44.1301 7.22488C44.1301 7.55625 44.3982 7.82488 44.7289 7.82488Z" fill="#CBA465"/>
    <path d="M45.0502 6.6718C45.3809 6.6718 45.649 6.40317 45.649 6.0718C45.649 5.74043 45.3809 5.4718 45.0502 5.4718C44.7195 5.4718 44.4514 5.74043 44.4514 6.0718C44.4514 6.40317 44.7195 6.6718 45.0502 6.6718Z" fill="#CBA465"/>
    <path d="M45.6934 5.58043C46.0241 5.58043 46.2922 5.3118 46.2922 4.98043C46.2922 4.64906 46.0241 4.38043 45.6934 4.38043C45.3627 4.38043 45.0946 4.64906 45.0946 4.98043C45.0946 5.3118 45.3627 5.58043 45.6934 5.58043Z" fill="#CBA465"/>
    <path d="M46.6045 4.75969C46.9352 4.75969 47.2033 4.49106 47.2033 4.15969C47.2033 3.82832 46.9352 3.55969 46.6045 3.55969C46.2738 3.55969 46.0057 3.82832 46.0057 4.15969C46.0057 4.49106 46.2738 4.75969 46.6045 4.75969Z" fill="#CBA465"/>
    <path d="M47.6223 4.10216C47.953 4.10216 48.2211 3.83353 48.2211 3.50216C48.2211 3.17079 47.953 2.90216 47.6223 2.90216C47.2916 2.90216 47.0235 3.17079 47.0235 3.50216C47.0235 3.83353 47.2916 4.10216 47.6223 4.10216Z" fill="#CBA465"/>
    <path d="M48.8021 3.77446C49.1328 3.77446 49.4009 3.50583 49.4009 3.17446C49.4009 2.84309 49.1328 2.57446 48.8021 2.57446C48.4713 2.57446 48.2033 2.84309 48.2033 3.17446C48.2033 3.50583 48.4713 3.77446 48.8021 3.77446Z" fill="#CBA465"/>
    <path d="M56.1431 10.2848C55.8124 10.2848 55.5443 10.0162 55.5443 9.68484C55.5443 9.35347 55.8124 9.08484 56.1431 9.08484C56.4738 9.08484 56.7419 9.35347 56.7419 9.68484C56.7419 10.0162 56.4738 10.2848 56.1431 10.2848Z" fill="#CBA465"/>
    <path d="M56.5207 9.08464C56.19 9.08464 55.9219 8.81602 55.9219 8.48464C55.9219 8.15327 56.19 7.88464 56.5207 7.88464C56.8514 7.88464 57.1195 8.15327 57.1195 8.48464C57.1195 8.81602 56.8514 9.08464 56.5207 9.08464Z" fill="#CBA465"/>
    <path d="M56.4669 7.82488C56.1361 7.82488 55.8681 7.55625 55.8681 7.22488C55.8681 6.89351 56.1361 6.62488 56.4669 6.62488C56.7976 6.62488 57.0657 6.89351 57.0657 7.22488C57.0657 7.55625 56.7976 7.82488 56.4669 7.82488Z" fill="#CBA465"/>
    <path d="M56.1431 6.6718C55.8124 6.6718 55.5443 6.40317 55.5443 6.0718C55.5443 5.74043 55.8124 5.4718 56.1431 5.4718C56.4738 5.4718 56.7419 5.74043 56.7419 6.0718C56.7419 6.40317 56.4738 6.6718 56.1431 6.6718Z" fill="#CBA465"/>
    <path d="M55.5025 5.58043C55.1718 5.58043 54.9037 5.3118 54.9037 4.98043C54.9037 4.64906 55.1718 4.38043 55.5025 4.38043C55.8332 4.38043 56.1013 4.64906 56.1013 4.98043C56.1013 5.3118 55.8332 5.58043 55.5025 5.58043Z" fill="#CBA465"/>
    <path d="M54.5923 4.75969C54.2616 4.75969 53.9935 4.49106 53.9935 4.15969C53.9935 3.82832 54.2616 3.55969 54.5923 3.55969C54.923 3.55969 55.1911 3.82832 55.1911 4.15969C55.1911 4.49106 54.923 4.75969 54.5923 4.75969Z" fill="#CBA465"/>
    <path d="M53.5748 4.10216C53.244 4.10216 52.976 3.83353 52.976 3.50216C52.976 3.17079 53.244 2.90216 53.5748 2.90216C53.9055 2.90216 54.1736 3.17079 54.1736 3.50216C54.1736 3.83353 53.9055 4.10216 53.5748 4.10216Z" fill="#CBA465"/>
    <path d="M52.3948 3.77446C52.0641 3.77446 51.796 3.50583 51.796 3.17446C51.796 2.84309 52.0641 2.57446 52.3948 2.57446C52.7255 2.57446 52.9936 2.84309 52.9936 3.17446C52.9936 3.50583 52.7255 3.77446 52.3948 3.77446Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M44.6232 12.1857C44.604 12.1437 44.5926 12.1017 44.5902 12.0537C44.583 11.9157 44.6555 11.7957 44.7681 11.7357C44.8196 11.6997 44.8812 11.6758 44.9477 11.6698C45.0567 11.6518 45.1717 11.6517 45.2926 11.6817C45.0549 11.5737 44.9154 11.4537 44.8735 11.3277C44.8567 11.2857 44.8471 11.2377 44.8471 11.1897C44.8471 10.9917 45.0028 10.8357 45.1956 10.8357C45.2363 10.8357 45.2753 10.8418 45.3118 10.8538C45.289 10.8058 45.2759 10.7577 45.2759 10.6977C45.2759 10.4998 45.4321 10.3438 45.6244 10.3438C45.8166 10.3438 45.9729 10.4998 45.9729 10.6977C45.9729 10.7157 45.9711 10.7338 45.9681 10.7578C46.0106 10.7338 46.0573 10.7277 46.107 10.7277C46.2992 10.7277 46.4549 10.8837 46.4549 11.0817C46.4549 11.1297 46.4429 11.1777 46.425 11.2257C46.419 11.2557 46.383 11.3037 46.3471 11.3397C46.3052 11.3817 46.2573 11.3997 46.2154 11.4357C46.1735 11.4777 46.1315 11.5017 46.1256 11.5317C46.401 11.4117 46.407 11.3757 46.5208 11.3517H46.5267C46.5627 11.3397 46.5986 11.3337 46.6405 11.3337C46.8381 11.3337 46.9938 11.4897 46.9938 11.6817C46.9938 11.7237 46.9878 11.7657 46.9699 11.8017C47.0178 11.7837 47.0657 11.7718 47.1196 11.7718C47.3172 11.7718 47.4788 11.9277 47.4788 12.1197C47.4788 12.3117 47.3172 12.4677 47.1196 12.4677H47.0717C47.0896 12.5097 47.1016 12.5637 47.1016 12.6117C47.1016 12.7737 46.9878 12.9117 46.8321 12.9537C46.8261 12.9537 46.8202 12.9597 46.8142 12.9597C46.6585 13.0017 46.3711 12.9117 46.3052 12.8757C46.2034 12.8157 46.0717 12.6597 45.9196 12.4017C45.8866 12.5997 45.8172 12.7857 45.7118 12.9597C45.6064 13.1337 45.4154 13.2537 45.1381 13.3137L45.1333 13.3077H45.1178C44.922 13.3197 44.7549 13.1697 44.7447 12.9777C44.7429 12.9357 44.7483 12.8937 44.7603 12.8577C44.716 12.8817 44.6663 12.8937 44.6136 12.8937C44.4178 12.9057 44.2507 12.7617 44.2405 12.5637C44.2339 12.4377 44.301 12.3177 44.4052 12.2517C44.4597 12.2157 44.5262 12.1857 44.5986 12.1857H44.6232Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M60.0893 11.809C60.1133 11.767 60.1312 11.719 60.1372 11.665C60.1552 11.473 60.0174 11.299 59.8258 11.275C59.6342 11.257 59.4606 11.401 59.4426 11.593V11.647C59.4007 11.629 59.3588 11.611 59.3049 11.605C59.1133 11.587 58.9456 11.725 58.9216 11.923C58.9157 11.977 58.9276 12.031 58.9456 12.079C58.9516 12.115 58.9755 12.157 59.0055 12.193C59.0414 12.235 59.0893 12.259 59.1252 12.301C59.1671 12.343 59.2031 12.373 59.2091 12.403C58.9456 12.253 58.9396 12.217 58.8318 12.187C58.7959 12.169 58.754 12.157 58.718 12.151C58.5204 12.133 58.3468 12.271 58.3288 12.463C58.3228 12.505 58.3228 12.547 58.3348 12.583C58.2929 12.559 58.245 12.541 58.1911 12.535C57.9935 12.517 57.8198 12.655 57.8019 12.847C57.7839 13.039 57.9216 13.213 58.1192 13.231C58.1372 13.231 58.1552 13.237 58.1671 13.231C58.1671 13.237 58.1671 13.237 58.1731 13.237C58.1432 13.279 58.1312 13.327 58.1252 13.375C58.1073 13.537 58.2031 13.687 58.3468 13.741C58.3588 13.747 58.3648 13.753 58.3767 13.753C58.5204 13.813 58.8139 13.753 58.8857 13.723C58.9935 13.681 59.1312 13.543 59.3049 13.315C59.4306 13.129 59.5324 12.979 59.6163 12.853C59.8139 12.571 59.9636 12.223 60.0773 11.809H60.0893Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.0645 11.8677C41.0394 11.8197 41.0226 11.7717 41.0166 11.7177C40.9963 11.5257 41.1352 11.3517 41.3262 11.3277C41.5178 11.3097 41.6897 11.4537 41.71 11.6457C41.7118 11.6637 41.7124 11.6817 41.7112 11.6997C41.7513 11.6817 41.7969 11.6637 41.8454 11.6577C42.0364 11.6397 42.2082 11.7837 42.2286 11.9757C42.2346 12.0297 42.2274 12.0837 42.2094 12.1317C42.2004 12.1677 42.1759 12.2097 42.1454 12.2457C42.1094 12.2877 42.0639 12.3177 42.0268 12.3537C41.9885 12.3957 41.9496 12.4317 41.9466 12.4617C42.2046 12.3117 42.21 12.2757 42.3184 12.2397H42.3214C42.3573 12.2217 42.3963 12.2097 42.4376 12.2097C42.6322 12.1857 42.8064 12.3237 42.8268 12.5157C42.831 12.5577 42.828 12.5997 42.8178 12.6357C42.8609 12.6117 42.9094 12.5937 42.9621 12.5937C43.1567 12.5697 43.331 12.7077 43.3513 12.8997C43.3717 13.0917 43.2298 13.2657 43.0346 13.2837C43.0172 13.2897 43.0004 13.2897 42.9831 13.2897H42.9825C43.007 13.3317 43.0232 13.3797 43.0286 13.4337C43.0454 13.5897 42.949 13.7397 42.8028 13.7937C42.7951 13.7997 42.7873 13.8057 42.7789 13.8057C42.6304 13.8657 42.337 13.8057 42.2669 13.7757C42.1585 13.7337 42.019 13.5957 41.8484 13.3677C41.7244 13.1817 41.6202 13.0317 41.5358 12.9057C41.3412 12.6237 41.1867 12.2757 41.0729 11.8677H41.0645Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M49.3816 11.7828C49.3688 11.7447 49.3628 11.7014 49.3695 11.6539C49.3768 11.5155 49.4705 11.4076 49.5864 11.3572C49.644 11.335 49.7066 11.3196 49.7727 11.3229C49.8878 11.3209 50.0005 11.3368 50.1149 11.3832C49.8936 11.2369 49.773 11.1048 49.749 10.9742C49.7371 10.9301 49.7378 10.8817 49.7445 10.8342C49.772 10.6381 49.9478 10.5053 50.1376 10.5321C50.1791 10.5379 50.2138 10.5489 50.2477 10.5658C50.2307 10.5149 50.2263 10.4597 50.2338 10.4063C50.2613 10.2102 50.4372 10.0774 50.6269 10.1041C50.8167 10.1309 50.9551 10.3079 50.9276 10.504C50.9251 10.5218 50.9167 10.5388 50.9142 10.5566C50.9582 10.5446 51.0073 10.5394 51.0547 10.5461C51.2445 10.5728 51.3761 10.755 51.3486 10.951C51.342 10.9986 51.3234 11.0444 51.2998 11.0835C51.2889 11.1183 51.2466 11.1608 51.2061 11.1915C51.1596 11.2213 51.1088 11.2384 51.0623 11.2682C51.0158 11.298 50.9701 11.3218 50.96 11.3507C51.2503 11.2644 51.2604 11.2355 51.3764 11.2276L51.3823 11.2284C51.4195 11.2215 51.4559 11.2206 51.4975 11.2265C51.6931 11.254 51.8256 11.4302 51.799 11.6203C51.7931 11.6619 51.7814 11.7027 51.7586 11.7358C51.8085 11.7247 51.8636 11.7203 51.911 11.727C52.1067 11.7546 52.2451 11.9316 52.2184 12.1217C52.1918 12.3118 52.01 12.4438 51.8143 12.4162L51.7669 12.4095C51.7788 12.4536 51.784 12.5028 51.7765 12.5563C51.754 12.7167 51.6222 12.8375 51.463 12.8515C51.4563 12.8566 51.4495 12.8617 51.4436 12.8609C51.2836 12.8807 51.0114 12.7515 50.9512 12.7067C50.8587 12.6331 50.75 12.4602 50.6384 12.1779C50.5745 12.3749 50.4834 12.5499 50.3525 12.7072C50.2216 12.8645 50.0152 12.9566 49.7341 12.9776L49.729 12.9708L49.7171 12.9691C49.5206 12.9475 49.3746 12.7816 49.3894 12.5898C49.3952 12.5482 49.407 12.5074 49.4238 12.4734C49.3798 12.4854 49.324 12.4957 49.2765 12.489C49.0792 12.4734 48.934 12.3014 48.9488 12.1096C48.9612 11.9781 49.0423 11.8744 49.1582 11.8241C49.2174 11.79 49.2859 11.7754 49.3571 11.7854C49.363 11.7863 49.3757 11.782 49.3816 11.7828Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M54.2064 11.696C54.2025 11.656 54.2085 11.6069 54.2257 11.562C54.2617 11.4345 54.3717 11.3483 54.5015 11.3275C54.5647 11.3133 54.6271 11.318 54.6907 11.336C54.7999 11.3523 54.9096 11.4009 55.0107 11.4719C54.8278 11.2795 54.7422 11.118 54.7481 10.9853C54.7463 10.9397 54.7502 10.8962 54.7673 10.8513C54.8382 10.6665 55.0415 10.5712 55.2259 10.6421C55.2595 10.655 55.2943 10.6813 55.3236 10.7054C55.3184 10.652 55.3265 10.5972 55.3458 10.5468C55.4166 10.362 55.6199 10.2666 55.7988 10.3355C55.9777 10.4043 56.0651 10.6114 55.9943 10.7963L55.975 10.8467C56.0206 10.8449 56.0696 10.8509 56.1143 10.8681C56.2932 10.9369 56.3806 11.1441 56.3119 11.3233C56.2926 11.3737 56.2643 11.4142 56.2325 11.447C56.2084 11.4763 56.1654 11.5048 56.1169 11.5311C56.0649 11.5496 56.0116 11.5548 55.9595 11.5734C55.9075 11.592 55.8598 11.5993 55.8435 11.6252C56.138 11.6099 56.162 11.5806 56.2747 11.6046L56.2803 11.6068C56.3181 11.6085 56.356 11.6102 56.3951 11.6252C56.574 11.694 56.6691 11.8977 56.5983 12.0826C56.5833 12.1218 56.5648 12.1533 56.533 12.186C56.5863 12.1808 56.6353 12.1868 56.6857 12.2062C56.8701 12.2771 56.9653 12.4808 56.8945 12.6657C56.8258 12.8449 56.6191 12.9325 56.4346 12.8615C56.4178 12.8551 56.401 12.8486 56.392 12.8387C56.3916 12.89 56.3856 12.9391 56.3663 12.9895C56.3084 13.1408 56.1528 13.2287 55.9946 13.2064C55.9868 13.2099 55.9813 13.2077 55.9735 13.2112C55.8131 13.1945 55.5791 13.0017 55.5305 12.9444C55.4492 12.8553 55.3898 12.6589 55.3423 12.3643C55.2379 12.5362 55.1043 12.6841 54.9449 12.8156C54.782 12.9393 54.5624 12.9769 54.2838 12.934L54.2803 12.9263L54.2691 12.922C54.0804 12.8622 53.9775 12.662 54.035 12.4784C54.05 12.4392 54.0685 12.4078 54.0947 12.3728C54.0469 12.3802 53.9923 12.3721 53.9399 12.3583C53.7567 12.3007 53.6538 12.1005 53.7113 11.9169C53.7529 11.7915 53.8552 11.7087 53.9794 11.6858C54.0448 11.666 54.1148 11.6672 54.1841 11.6874L54.2064 11.696Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M59.395 10.8241C59.8441 10.3321 59.8741 9.29411 59.7244 8.48411C59.6525 8.07611 59.4789 7.72211 59.395 7.53011C59.1256 6.88811 58.3771 6.27011 57.1675 5.67791C56.922 5.62331 56.7962 5.62331 56.7962 5.67791C56.7902 5.71331 57.4789 6.63611 57.419 8.13611C57.389 8.89211 57.419 9.65411 56.5088 10.4821C56.2872 10.8241 56.9519 11.0701 57.1675 10.8241C57.6765 10.2181 57.892 9.55211 57.904 8.85011C57.916 8.04611 57.7363 7.09811 57.3651 6.00611C58.3471 6.72011 58.9339 7.45211 59.1256 8.19611C59.2513 8.70011 59.3232 9.74411 58.7244 10.3621C58.6106 10.4761 58.6525 10.6501 58.8441 10.8961C58.9998 11.0821 59.1854 11.0581 59.395 10.8241Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M46.0398 10.0202C45.5344 9.36017 45.3649 8.25617 45.5553 7.28417C45.6517 6.79218 45.7943 6.39618 45.917 6.18618C46.3589 5.42298 46.9877 4.83078 47.814 4.40958C48.3649 4.21578 48.7481 4.09878 48.9637 4.05918C49.6104 3.94038 49.8799 4.01538 49.8799 4.05918C49.8859 4.07718 49.9218 4.35678 49.8799 4.91058C49.832 5.65698 49.6883 6.81017 49.5266 7.65617C49.4008 8.31017 49.311 9.01817 49.2691 9.66617C49.2571 9.88817 49.6883 10.0202 49.5266 10.3982C49.3709 10.7702 48.6943 10.7822 48.6463 10.2362C48.5745 9.30617 48.9218 8.31617 49.0416 7.49417C49.2032 6.45017 49.3649 5.45418 49.5266 4.50018C47.9398 4.44018 46.8679 5.17998 46.311 6.72017C46.1853 7.08017 46.0416 7.69217 46.1254 8.31617C46.1733 8.68817 46.2871 9.09617 46.5805 9.36017C46.7901 9.55217 46.844 9.84017 46.7541 10.2362C46.5266 10.4222 46.2871 10.3502 46.0398 10.0202Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M55.1853 10.0202C55.6883 9.36018 55.856 8.25618 55.6643 7.28418C55.5685 6.79218 55.4308 6.39618 55.3051 6.18618C54.8619 5.42298 54.2332 4.83078 53.4128 4.40958C52.8619 4.21578 52.4787 4.09878 52.2631 4.05918C51.6104 3.94038 51.347 4.01538 51.341 4.05918C51.341 4.07718 51.3051 4.35678 51.341 4.91058C51.3889 5.65698 51.5326 6.81018 51.6943 7.65618C51.82 8.31018 51.9158 9.01818 51.9518 9.66618C51.9637 9.88818 51.4667 10.0382 51.6284 10.4102C51.7841 10.7822 52.5326 10.7822 52.5745 10.2362C52.6464 9.30618 52.3051 8.31618 52.1793 7.49418C52.0236 6.45018 51.8619 5.45418 51.6943 4.50018C53.2811 4.44018 54.353 5.17998 54.9098 6.72018C55.0416 7.08018 55.1793 7.69218 55.0955 8.31618C55.0476 8.68818 54.9338 9.09618 54.6464 9.36018C54.4368 9.55218 54.3769 9.84018 54.4727 10.2362C54.6943 10.4222 54.9338 10.3502 55.1853 10.0202Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M50.3648 1.56385C49.9876 1.66765 49.7121 2.01865 49.7121 2.43565C49.7121 2.93425 50.1073 3.33865 50.5983 3.33865C51.0893 3.33865 51.4846 2.93425 51.4846 2.43565C51.4846 2.02525 51.2151 1.67905 50.8498 1.56925V1.34065L51.3588 0.743049C51.5025 0.623049 51.5504 0.523329 51.5025 0.443709C51.4486 0.364089 51.3887 0.345849 51.3229 0.388989L50.8498 0.443709C50.8498 0.179949 50.772 0.0464493 50.6163 0.0430893C50.4666 0.0397953 50.3887 0.173349 50.3887 0.443709L49.9396 0.388989C49.8319 0.381909 49.754 0.399309 49.7181 0.441309C49.6762 0.483249 49.6822 0.547269 49.7241 0.633249L50.3648 1.34065V1.56385Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M42.4577 14.0406C43.2182 14.4066 43.8924 14.4966 44.4798 14.3106C45.0679 14.1306 45.6134 13.6866 46.1194 12.9906C46.9517 13.6566 47.6822 13.9746 48.317 13.9566C48.9517 13.9326 49.7361 13.5606 50.6762 12.8406C51.4966 13.5606 52.2511 13.9326 52.9397 13.9686C53.6343 13.9986 54.3828 13.6926 55.1912 13.0506C55.7601 13.7586 56.2691 14.1786 56.7062 14.3106C57.1493 14.4426 57.8499 14.3826 58.82 14.1306L57.778 15.7866C56.311 15.1566 53.9337 14.8386 50.6403 14.8266C47.3409 14.8146 44.9415 15.1326 43.4307 15.7866L42.4577 14.0406ZM50.6493 13.4106L49.5475 14.1186H51.7451L50.6493 13.4106ZM55.1403 13.6986L53.9367 14.2086L56.0984 14.5926L55.1403 13.6986ZM46.1283 13.6986L45.1098 14.5206L47.296 14.2926L46.1283 13.6986ZM43.2253 14.7786L43.4798 15.0846L43.9487 14.8806L43.2253 14.7786ZM58.0457 14.7786L57.3212 14.8806L57.7942 15.0846L58.0457 14.7786Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M50.6767 17.9528C46.8623 17.9528 43.7665 17.6468 43.7665 17.2688C43.7647 16.8908 46.8623 16.5848 50.6767 16.5848C54.497 16.5848 57.5928 16.8908 57.5928 17.2688C57.5928 17.6468 54.497 17.9528 50.6767 17.9528ZM50.5988 17.5148C53.6946 17.5148 56.1976 17.4128 56.1976 17.2928C56.1976 17.1728 53.6946 17.0768 50.5988 17.0768C47.503 17.0768 44.9976 17.1728 44.9976 17.2928C44.9976 17.4128 47.503 17.5148 50.5988 17.5148Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M43.5247 16.0985C44.8541 15.4505 47.2271 15.1385 50.6505 15.1565C54.0756 15.1805 56.4469 15.4925 57.7762 16.0985V16.9925C55.9678 16.3805 53.5127 16.0745 50.4109 16.0745C47.3032 16.0745 45.0097 16.3805 43.5247 16.9925L43.5229 16.0985H43.5247ZM49.9798 15.6005L50.5786 15.9185L51.2014 15.6005L50.5786 15.3125L49.9798 15.6005ZM44.4858 16.4165C44.6193 16.4165 44.7271 16.3085 44.7271 16.1705C44.7271 16.0385 44.6193 15.9245 44.4858 15.9245C44.3529 15.9245 44.2451 16.0385 44.2451 16.1705C44.2451 16.3085 44.3529 16.4165 44.4858 16.4165ZM46.7343 16.0325C46.872 16.0325 46.9798 15.9245 46.9798 15.7865C46.9798 15.6545 46.872 15.5405 46.7343 15.5405C46.6026 15.5405 46.4948 15.6545 46.4948 15.7865C46.4948 15.9245 46.6026 16.0325 46.7343 16.0325ZM48.884 15.8705C49.0157 15.8705 49.1235 15.7625 49.1235 15.6245C49.1235 15.4865 49.0157 15.3785 48.884 15.3785C48.7463 15.3785 48.6385 15.4865 48.6385 15.6245C48.6385 15.7625 48.7463 15.8705 48.884 15.8705ZM52.363 15.9245C52.5008 15.9245 52.6086 15.8165 52.6086 15.6785C52.6086 15.5405 52.5008 15.4325 52.363 15.4325C52.2313 15.4325 52.1235 15.5405 52.1235 15.6785C52.1235 15.8165 52.2313 15.9245 52.363 15.9245ZM54.5606 16.0925C54.6984 16.0925 54.8062 15.9785 54.8062 15.8405C54.8062 15.7085 54.6984 15.5945 54.5606 15.5945C54.4289 15.5945 54.3211 15.7085 54.3211 15.8405C54.3211 15.9785 54.4289 16.0925 54.5606 16.0925ZM56.7044 16.4705C56.8421 16.4705 56.9499 16.3625 56.9499 16.2245C56.9499 16.0925 56.8421 15.9785 56.7044 15.9785C56.5726 15.9785 56.4648 16.0925 56.4648 16.2245C56.4648 16.3625 56.5726 16.4705 56.7044 16.4705ZM45.6145 16.1465C45.7181 16.1465 45.802 16.0565 45.802 15.9545C45.802 15.8465 45.7181 15.7625 45.6145 15.7625C45.5109 15.7625 45.4271 15.8465 45.4271 15.9545C45.4271 16.0565 45.5109 16.1465 45.6145 16.1465ZM47.863 15.9245C47.9708 15.9245 48.0547 15.8405 48.0547 15.7325C48.0547 15.6305 47.9708 15.5405 47.863 15.5405C47.7612 15.5405 47.6774 15.6305 47.6774 15.7325C47.6774 15.8405 47.7612 15.9245 47.863 15.9245ZM53.384 15.9245C53.4918 15.9245 53.5756 15.8405 53.5756 15.7325C53.5756 15.6305 53.4918 15.5405 53.384 15.5405C53.2822 15.5405 53.1984 15.6305 53.1984 15.7325C53.1984 15.8405 53.2822 15.9245 53.384 15.9245ZM55.6355 16.2005C55.7433 16.2005 55.8271 16.1105 55.8271 16.0085C55.8271 15.9005 55.7433 15.8165 55.6355 15.8165C55.5337 15.8165 55.4499 15.9005 55.4499 16.0085C55.4499 16.1105 55.5337 16.2005 55.6355 16.2005Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.8148 10.8241C41.3669 10.3321 41.337 9.29411 41.4855 8.48411C41.561 8.07611 41.7328 7.72211 41.8148 7.53011C42.0897 6.88811 42.8328 6.27011 44.046 5.67791C44.2897 5.62331 44.4136 5.62331 44.4172 5.67791C44.4196 5.71331 43.7364 6.63611 43.7939 8.13611C43.8232 8.89211 43.7939 9.65411 44.7059 10.4821C44.9268 10.8241 44.2586 11.0701 44.046 10.8241C43.534 10.2181 43.3232 9.55211 43.3095 8.85011C43.2945 8.04611 43.4735 7.09811 43.8478 6.00611C42.8627 6.72011 42.2765 7.45211 42.0885 8.19611C41.961 8.70011 41.8873 9.74411 42.4879 10.3621C42.6005 10.4761 42.5616 10.6501 42.3705 10.8961C42.2136 11.0821 42.0286 11.0581 41.8148 10.8241Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M77.1614 32.3276C76.4494 32.7236 75.7512 32.9156 75.065 32.9156C73.7105 32.9156 72.6375 32.5196 71.8459 31.7276C71.0543 30.9356 70.6584 29.882 70.6584 28.5614C70.6584 27.263 71.0908 26.204 71.9554 25.385C72.7884 24.5984 73.8285 24.2054 75.0758 24.2054C75.8866 24.2054 76.5782 24.3931 77.1494 24.7682V25.991C76.5536 25.4354 75.8243 25.1576 74.9632 25.1576C74.0339 25.1576 73.2638 25.4588 72.6525 26.0618C72.0129 26.693 71.6932 27.5264 71.6932 28.5614C71.6932 29.6114 72.0129 30.4496 72.6525 31.0796C73.2566 31.6676 74.0231 31.9676 74.9524 31.9676C75.7776 31.9676 76.5141 31.6736 77.1614 31.0916V32.3276Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M87.323 32.784H86.1973L84.5446 29.2416H84.4128V32.784H83.5266V24.414L84.6164 24.4116C85.2452 24.4116 85.9158 24.7086 86.2691 25.1226C86.6224 25.5366 86.8021 26.0268 86.8021 26.775C86.8021 27.375 86.7781 27.615 86.5446 28.038C86.3051 28.4898 85.9637 28.7664 85.5326 29.0478L87.323 32.784ZM85.9997 26.7888C85.9997 25.7916 85.2931 25.2924 84.8739 25.2924H84.4548V28.323H84.9398C85.2931 28.323 85.9997 27.8112 85.9997 26.7888Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M91.2516 32.784H87.7306V24.4116H88.7606V31.83H91.2516V32.784Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M99.4425 28.5614C99.4425 29.7416 99.0174 30.7616 98.1611 31.6256C97.3048 32.4896 96.2869 32.9156 95.1072 32.9156C93.9336 32.9156 92.9156 32.4896 92.0593 31.6256C91.203 30.7616 90.7779 29.7416 90.7779 28.5614C90.7779 27.3818 91.203 26.3612 92.0593 25.499C92.9156 24.6368 93.9336 24.2054 95.1072 24.2054C96.2869 24.2054 97.3048 24.6368 98.1611 25.499C99.0174 26.3612 99.4425 27.3818 99.4425 28.5614ZM98.4246 28.5548C98.4246 27.6026 98.1072 26.801 97.4725 26.15C96.8318 25.4984 96.0473 25.1732 95.1192 25.1732C94.191 25.1732 93.4126 25.4984 92.7719 26.15C92.1372 26.801 91.8198 27.6026 91.8198 28.5548C91.8198 29.5076 92.1372 30.3116 92.7719 30.9596C93.4126 31.6136 94.191 31.9376 95.1192 31.9376C96.0473 31.9376 96.8318 31.6136 97.4725 30.9596C98.1072 30.3116 98.4246 29.5076 98.4246 28.5548Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M82.8501 32.7118H81.9399L81.3171 30.6178H79.2273L78.5986 32.7118H77.7004L80.2752 23.9998L82.8501 32.7118ZM80.9399 29.6686L80.2453 27.43L79.5387 29.6686H80.9399Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.55353 32.7838H4.26731L1.79366 29.2102H1.33138V32.7838H0.270302L0.270601 24.3358L1.90294 24.3375C2.84186 24.3375 3.57779 24.5462 4.11072 24.9633C4.64425 25.3809 4.91072 25.9671 4.91072 26.7219C4.91072 27.3267 4.73886 27.8427 4.39395 28.2693C4.02749 28.7247 3.5197 29.0037 2.8712 29.1057L5.55383 32.7837L5.55353 32.7838ZM3.93258 26.7358C3.93258 25.7296 3.19186 25.2262 1.71102 25.2262H1.34276V28.2832H1.80443C3.223 28.2832 3.93258 27.7672 3.93258 26.7358Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3109 32.7837H10.4007L9.77792 30.6718H7.6881L7.05936 32.7837H6.16116L8.73002 23.9998L11.3109 32.7837ZM9.40068 29.7136L8.70008 27.457L7.99948 29.7136H9.40068Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.0712 28.5592C17.0712 29.8678 16.5503 30.9058 15.7778 31.6498C15.0054 32.3998 14.3886 32.5138 13.5982 32.6938L11.9215 32.7838V24.3358C12.4365 24.3488 12.8078 24.3745 13.0353 24.4148C14.4126 24.6574 15.3287 25.07 15.7898 25.475C16.6401 26.2328 17.0712 27.2612 17.0712 28.559V28.5592ZM16.0233 28.5634C16.0233 27.5206 15.682 26.719 15.0054 26.1574C14.5503 25.783 13.8796 25.5022 12.9874 25.315V31.837C13.8138 31.717 14.4844 31.441 14.9994 31.003C15.7718 30.343 16.0233 29.6332 16.0233 28.5646V28.5634Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.1671 32.784H18.0833V24.3378H19.1671V32.784Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M28.9216 28.5927C28.9216 29.7819 28.4845 30.8097 27.6102 31.6797C26.73 32.5497 25.6941 32.9817 24.4845 32.9817C23.2809 32.9817 22.239 32.5497 21.3647 31.6797C20.4845 30.8097 20.0474 29.7819 20.0474 28.5927C20.0474 27.4041 20.4845 26.3751 21.3647 25.5057C22.239 24.6369 23.2809 24.2025 24.4845 24.2025C25.6941 24.2023 26.73 24.6369 27.6102 25.5057C28.4845 26.3751 28.9216 27.4041 28.9216 28.5927ZM27.8797 28.5861C27.8797 27.6261 27.5563 26.8185 26.9037 26.1621C26.251 25.5057 25.4486 25.1775 24.4965 25.1775C23.5444 25.1775 22.748 25.5057 22.0953 26.1621C21.4426 26.8185 21.1192 27.6261 21.1192 28.5861C21.1192 29.5461 21.4426 30.3537 22.0953 31.0077C22.748 31.6677 23.5444 31.9977 24.4965 31.9977C25.4486 31.9977 26.251 31.6677 26.9037 31.0077C27.5563 30.3537 27.8797 29.5461 27.8797 28.5861Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.0296 32.8077H39.9338L39.0117 27.2164L36.3823 32.9937L33.7518 27.2164L32.829 32.8077H31.7362L33.3015 23.9998L36.3823 30.6118L39.4608 23.9998L41.0296 32.8077Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M50.5746 28.4956C50.5746 29.713 50.1374 30.7678 49.2632 31.6557C48.383 32.5437 47.347 32.9937 46.1374 32.9937C44.9339 32.9937 43.8919 32.5437 43.0177 31.6557C42.1434 30.7678 41.7063 29.713 41.7063 28.4956C41.7063 27.2782 42.1434 26.2246 43.0177 25.3348C43.8919 24.4444 44.9339 23.9998 46.1374 23.9998C47.347 23.9998 48.383 24.4447 49.2632 25.3348C50.1374 26.2246 50.5746 27.2782 50.5746 28.4956ZM49.5327 28.4884C49.5327 27.5056 49.2093 26.6782 48.5566 26.0062C47.9039 25.3342 47.1015 24.9982 46.1494 24.9982C45.1973 24.9982 44.4009 25.3342 43.7482 26.0062C43.1015 26.6782 42.7722 27.5056 42.7722 28.4884C42.7722 29.4718 43.1015 30.2998 43.7482 30.9717C44.4009 31.6437 45.1973 31.9797 46.1494 31.9797C47.1015 31.9797 47.9039 31.6437 48.5566 30.9717C49.2093 30.2998 49.5327 29.4718 49.5327 28.4884Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M61.892 25.2421H59.8021V32.9035H58.7482V25.2421H56.6584V24.2564H61.892V25.2421Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M66.8801 25.2421H63.3771V27.6619H66.7604V28.6477H63.3771V31.9195H66.8681V32.9035H62.3172V24.2564H66.8801V25.2421Z" fill="#CBA465"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M55.8139 32.9937L52.3169 27.6688V32.8077H51.3349V23.9998L54.8319 29.647V24.1841H55.8139V32.9937Z" fill="#CBA465"/>
    </svg>
    