<script>
  import { isPolicyOpen } from '../store'
  import { fade } from 'svelte/transition'
  import Close from './Close.svelte'
</script>

{#if $isPolicyOpen}
  <div class="overlay" transition:fade|local>
    <div class="policy">
      <div class="top">
        <div class="close" on:click={()=>$isPolicyOpen=false}><Close /></div>
        <div class="header">Policy</div>
      </div>
      <div class="content">
        A. Introduction The privacy of our website visitors is very important to us, and we are committed to
        safeguarding it. This policy explains what we will do with your personal information. Consenting to our use of
        cookies in accordance with the terms of this policy when you first visit our website permits us to use cookies
        every time you visit our website. B. Our Website Оur website is a digital media resource that enables you to
        find the most accurate and recent information of the Screenlife. C. Collecting personal information The
        following types of personal information may be collected, stored, and used: information about your computer
        including your IP address, geographical location, browser type and version, and operating system;
      </div>
    </div>
  </div>
{/if}

<style>
  .close {
    padding: 32px 32px 0 0;
    align-self: flex-end;
    cursor: pointer;
  }
  .top {
    display: flex;
    flex-direction: column;
    box-shadow: 0px -6px 24px 5px rgba(0, 0, 0, 0.08);
  }
  .overlay {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    color: black;
    overscroll-behavior: none;
    z-index: 9999;
  }
  .policy {
    border-radius: 8px;
    max-width: 940px;
    max-height: 90%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
  }
  .header {
    font-weight: 900;
    font-size: 32px;
    line-height: 37px;
    padding: 32px;
  }
  .content {
    flex-grow: 1;
    overflow: auto;
    font-size: 21px;
    line-height: 150%;
    padding: 32px;
  }
  @media screen and (max-width: 768px) {
    .header {
      padding: 16px;
    }
    .content {
      padding: 16px;
    }
    .close {
      padding: 16px 16px 0 0;
    }
    .policy {
      padding-bottom: 16px;
    }
    .header {
      font-size: 16px;
      line-height: 19px;
    }
    .content {
      font-size: 12px;
      line-height: 14px;
    }
  }
</style>
