<script>
  import MainSection from './components/MainSection/index.svelte'
  import Footer from './components/Footer/index.svelte'
  import Slider from './components/Slider/index.svelte'
  import Cookie from './components/Cookie/index.svelte'
  import Policy from './components/Policy/index.svelte'
  import App from './components/App/index.svelte'
</script>

<svelte:head>
  <!-- <link href="//amp.azure.net/libs/amp/latest/skins/amp-default/azuremediaplayer.min.css" rel="stylesheet" />
  <script src="//amp.azure.net/libs/amp/latest/azuremediaplayer.min.js"></script> -->
  <link href="./azure/azuremediaplayer.min.css" rel="stylesheet" />
  <script src="./azure/azuremediaplayer.min.js"></script>
</svelte:head>
<div>
  <MainSection />
  
  <div class="spacer1" />
  <Slider />
  <App/>
  <div class="spacer2" />
  <Footer />
  <Cookie />
  <Policy />
</div>

<style>
  .spacer1 {
    height: 136px;
  }
  .spacer2 {
    height: 120px;
  }
  @media screen and (max-width: 650px) {
    .spacer1 {
      height: 80px;
    }
    .spacer2 {
      height: 80px;
    }
  }
</style>
