<svg  viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path
    d="M0.952974 0.00145531C0.706598 -0.0108163 0.455818 0.0782312 0.267025 0.267025C-0.0891655 0.623215 -0.0888509 1.19998 0.267025 1.55585L6.71117 8L0.267025 14.4441C-0.0891655 14.8003 -0.0888509 15.3771 0.267025 15.733C0.446378 15.9123 0.681426 16.0014 0.916474 15.9998C1.14743 15.9992 1.37965 15.9092 1.55585 15.733L8 9.28883L14.4441 15.733C14.8 16.0889 15.3768 16.0892 15.733 15.733C16.0892 15.3768 16.0889 14.8 15.733 14.4441L9.28883 8L15.733 1.55585C16.0892 1.19966 16.0889 0.6229 15.733 0.267025C15.3771 -0.0888509 14.8003 -0.0891655 14.4441 0.267025L8 6.71117L1.55585 0.267025C1.38846 0.0996278 1.17197 0.0115243 0.952974 0.00145531Z"
    fill="black"
  />
</svg>

<style>
  svg{
    display: block;
    width: 100%;
  }
</style>