<script>
  import Close from './Close.svelte'
  import Info from './Info.svelte'
  import {fade} from 'svelte/transition'
  import {onMount} from 'svelte' 
  import sendMetrik from '../../../../metrika'

  export let item
  export let myPlayer;
  let isOpen = false
  let isVisible = false
  const close = () => {
    isVisible = false
    if(isOpen){
      myPlayer.play();
    }
   
    
  }
  const open = ()=>{
    isOpen = true;
    sendMetrik('Ibible.ActivityInteraction', {'Ibible.ActivityName': 'Fact'})
    myPlayer.pause();
  }
  onMount(()=>{
    sendMetrik('Ibible.ActivityShow', {'Ibible.ActivityName': 'Fact'})
    isVisible = true;
  })
</script>

{#if isVisible}
  <div class="ctaWrapper" class:isOpen transition:fade|local>
    <div class="header">
      <div class="info">
        <Info />
      </div>
      <div class="headerText">Это интересно</div>
      <div class="close" on:click={close}><Close /></div>
    </div>
    {#if isOpen}
      <div class="fullDescription">
        <div class="fullTitle">{item.title}</div>
        <div class="descriptionText">{@html item.description}</div>
      </div>
    {:else}
      <div class="title">{item.title}</div>
      <div class="more" on:click={open}>Узнать больше</div>
    {/if}
  </div>
{/if}

<style>
  .ctaWrapper {
    position: absolute;
    bottom: calc(var(--playerWidth) * 0.0225);
    left: calc(var(--playerWidth) * 0.045);
    right: calc(var(--playerWidth) * 0.045);
    background: #ffffff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2), 0px 12px 13px rgba(0, 0, 0, 0.25);
    border-radius: calc(var(--playerWidth) * 0.01);
    padding: calc(var(--playerWidth) * 0.045);
    z-index: 9;
    display: flex;
    flex-direction: column;
    animation: drift 2s ease-in-out infinite;
  }
  .isOpen{
      top:calc(var(--playerWidth) * 0.2);
      padding: 0;
      display: flex;
      flex-direction: column;
      animation: none;
  }
  .isOpen .header{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  }
  .fullDescription{
    padding: calc(var(--playerWidth) * 0.045);
    flex-grow: 1;
    overflow: auto;
  }
  .fullTitle{
    font-weight: bold;
    font-size: calc(var(--playerWidth) * 0.045);
    line-height: calc(var(--playerWidth) * 0.055);
    color: #000000;
    margin-bottom: calc(var(--playerWidth) * 0.045);
  }
  .descriptionText{
    font-size: calc(var(--playerWidth) * 0.045);
    line-height: calc(var(--playerWidth) * 0.055);
    color: #000000;
  }
  .info,
  .close {
    width: calc(var(--playerWidth) * 0.045);
    height: calc(var(--playerWidth) * 0.045);
  }
  .info {
    margin-right: calc(var(--playerWidth) * 0.0225);
  }
  .close {
    margin-left: auto;
    cursor: pointer;
  }
  .header {
    display: flex;
    align-items: center;
    padding: calc(var(--playerWidth) * 0.045);
  }
  .headerText {
    font-size: calc(var(--playerWidth) * 0.035);
    color: #868686;
  }
  .title {
    font-weight: bold;
    font-size: calc(var(--playerWidth) * 0.045);
    line-height: calc(var(--playerWidth) * 0.055);
    color: #000000;
    margin-top: calc(var(--playerWidth) * 0.065);
  }
  .more {
    padding: calc(var(--playerWidth) * 0.0225);
    width: 100%;
    font-size: calc(var(--playerWidth) * 0.04);
    background: black;
    color: white;
    box-sizing: border-box;
    margin-top: calc(var(--playerWidth) * 0.065);
    text-align: center;
    cursor: pointer;
  }
  @keyframes drift {
    0%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(-5%);
    }
    10%{
      transform: translateY(0);
    }
  }
</style>
