<script>
  import { onMount } from 'svelte'
  import {fade} from 'svelte/transition'
  import {nextSeries, activeSeries} from '../../../store'
  import sendMetrik from '../../../../metrika'

  let progress = 0
  let timerId
  let isOpen = false;
  const goToNextSeries = () => {
    sendMetrik('Ibible.NextEpisode', {'Ibible.NextEpisodeName': $activeSeries.alias})
    clearTimeout(timerId)
    nextSeries();
  }
  const cancel = ()=>{
    isOpen=false;  
    clearTimeout(timerId)
  }

  const makeProgress = () => {
    progress += 0.25
    if (progress >= 100) {
      return goToNextSeries()
    }
    timerId = setTimeout(makeProgress, 10)
  }

  onMount(() => {
    isOpen = true;
    sendMetrik('Ibible.ActivityInteraction', {'Ibible.ActivityName': 'NextSeries'})
    makeProgress()
    return ()=>{
        clearTimeout(timerId)
    }
  })
</script>
{#if isOpen}
<div class="next" transition:fade|local>
  <div class="text">Следующая серия начнется автоматически</div>
  <div class="buttons">
    <div class="button nextButton" on:click={goToNextSeries}>
      <div class="progress" style={`width: ${progress}%`} />
      <div class="nextText">Смотреть следующую серию</div>
    </div>
    <div class="button cancel" on:click={cancel}>Отмена</div>
  </div>
</div>
{/if}
<style>
  .next {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text {
    color: white;
    text-align: center;
    font-size: calc(var(--playerWidth) * 0.07);
  }
  .buttons {
    width: 74%;
  }
  .button {
    box-sizing: border-box;
    color: #ffffff;
    font-size: calc(var(--playerWidth) * 0.04);
    text-align: center;
    margin-top: calc(var(--playerWidth) * 0.03);
    cursor: pointer;
  }
  .cancel {
    border: 1px solid #b19066;
    padding: calc(var(--playerWidth) * 0.03);
  }
  .nextButton {
    margin-top: calc(var(--playerWidth) * 0.15);
    background-color: #645b4f;
    position: relative;
  }
  .progress {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background: #b19066;
  }
  .nextText {
    position: relative;
    padding: calc(var(--playerWidth) * 0.03);
  }
</style>
