<script>
  import items from '../items'
  import Series from './Series.svelte'
  import LeftArrow from './LeftArrow.svelte'
  import RightArrow from './RightArrow.svelte'

  let innerWidth;
  $: ITEM_WIDTH = innerWidth  > 650 ? 240 : 191;
  const SLIDER_TOLERANCE = 40
  let activeIndex = 0
  let sliderWidth = 0

  let currentScroll = 0
  const onScroll = (e)=>{
    const {width} = e.target.getBoundingClientRect()
    currentScroll = e.target.scrollLeft/ (e.target.scrollWidth - width) * 100;
  }

  $: lasItemVisible = items.length - Math.floor((sliderWidth + SLIDER_TOLERANCE) / ITEM_WIDTH) === activeIndex
  $: progressWidth = innerWidth  > 650 ? sliderWidth / (items.length * ITEM_WIDTH - SLIDER_TOLERANCE) : 0.5
  $: progressStep = innerWidth  > 650 ? activeIndex * (ITEM_WIDTH / sliderWidth) * 100 : currentScroll
  const changeActiveIndex = (direction) => {
    if (activeIndex === 0 && direction === -1) {
      return
    }
    if (lasItemVisible && direction === 1) {
      return
    }

    activeIndex += direction
  }

  
</script>

<div class="container">
  <div class="header">
    <div class="all">Все серии</div>
    <div class="progress">
      <div
        class="progressBar"
        style={`width:${progressWidth * 100}%; transform: translateX(${progressStep}%);`}
      />
    </div>
  </div>
  <div class="slider">
    <div class="leftShadow" />
    <div class="wrapper" bind:clientWidth={sliderWidth}>
      <div class="leftArrow arrow" on:click={() => changeActiveIndex(-1)} class:disabled={activeIndex === 0}>
        <LeftArrow />
      </div>

      <div class="items" style={`transform:translateX(${activeIndex * -ITEM_WIDTH}px)`} on:scroll={onScroll}>
        {#each items as item, i}
          <Series {item} {i} />
        {/each}
      </div>
      <div class="rightArrow arrow" on:click={() => changeActiveIndex(1)} class:disabled={lasItemVisible}><RightArrow /></div>
    </div>
    <div class="rightShadow" />
  </div>
</div>
<svelte:window  bind:innerWidth={innerWidth}/>

<style>
  .container {
    padding: 0 16px;
    box-sizing: border-box;
  }
  
  .arrow :global(path){
    stroke: #fff;
  }
  .arrow:hover :global(path){
    stroke: #B19066
  }
  .arrow.disabled :global(svg) {
    opacity: 0.3;
  }
  .arrow.disabled:hover :global(path) {
    stroke: #fff;
  }
  .header {
    max-width: 940px;
    margin: 0 auto;
  }
  .all {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
  }
  .progress {
    height: 2px;
    background: rgba(184, 184, 184, 0.4);
    border-radius: 17px;
    margin-bottom: 24px;
    overflow: hidden;
  }
  .progressBar {
    height: 2px;
    background: #b8b8b8;
    border-radius: 17px;
    transition: transform 0.3s ease-in-out;
  }
  .wrapper {
    position: relative;
    max-width: calc(100% - 200px);
    margin: 0 auto;
  }
  .leftArrow {
    cursor: pointer;
    position: absolute;
    left: -90px;
    top: 198px;
    z-index: 3;
  }
  .rightArrow {
    cursor: pointer;
    position: absolute;
    right: -90px;
    top: 198px;
    z-index: 3;
  }
  .items {
    display: flex;
    transition: transform 0.3s ease-in-out;
    overflow: visible;
    margin: 0 -20px -20px 0;
  }
  .slider {
    overflow: hidden;
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
  }
  .leftShadow {
    z-index: 2;
    flex-grow: 1;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, #000000 96.55%);
    min-width: 100px;
  }
  .rightShadow {
    z-index: 2;
    flex-grow: 1;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 96.55%);
    min-width: 100px;
  }
  @media screen and (max-width: 650px) {
    .leftShadow, .rightShadow{
      display: none;
    }
    .wrapper{
      max-width: 100%;
    }
    .items{
      overflow: auto;
    }
    .progressBar{
      transition: transform 0s;
    }
  }
</style>
