<script>
  import { activeSeriesIndex, setSeries } from '../store';
  import items from '../items';
  import Play from './Play.svelte';
  import sendMetrik from '../../metrika';
  export let item;
  export let i;

  const selectSeries = (i) => {
    setSeries(i);
    sendMetrik('Ibible.SliderEpisode', { 'Ibible.SliderEpisodeName': items[i].alias });
  };
</script>

<div class="item" on:click={() => selectSeries(i)} class:active={$activeSeriesIndex == i}>
  <div class="cover">
    <div class="coverImage" style={`background-image: url('./images/${item.image}');`} />

    <div class="gradient" />
    <div class="play"><Play /></div>
    <div class="seriesName">
      <div class="numberLine">
        <div class="number">{$activeSeriesIndex === i ? 'Текущая серия' : item.number}</div>
        <div class="duration">{item.duration}</div>
      </div>
      <div class="name">{item.name}</div>
    </div>
  </div>
  <div class="description">{item.description}</div>
</div>

<style>
  .numberLine{
    display: flex;
    justify-content: space-between;
  }  
  .duration{
    display: none;
    font-size: 12px;
      line-height: 14px;
  }
  .item {
    padding: 0 20px 20px 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
    width: 220px;
  }
  .active {
    opacity: 1;
  }
  .item:hover {
    opacity: 1;
  }
  .cover {
    position: relative;
    width: 220px;
    padding-top: 184%;
  }
  .coverImage {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 96.55%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .number {
    font-size: 16px;
    line-height: 19px;
    color: #b8b8b8;
  }
  .name {
    font-size: 18px;
    line-height: 21px;
    margin-top: 8px;
  }
  .seriesName {
    position: absolute;
    top: 337px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
  }
  .description {
    margin-top: 16px;
    font-size: 16px;
    line-height: 150%;
    padding: 0 8px;

    color: #b8b8b8;
  }
  .seriesName {
    padding: 0 8px;
  }
  .play {
    display: none;
  }
  @media screen and (max-width: 650px) {
    .duration{
      display: block;
    }
    .cover {
      width: 171px;
    }
    .item {
      width: 171px;
    }
    .number {
      font-size: 12px;
      line-height: 14px;
    }
    .name {
      font-size: 16px;
      line-height: 150%;
    }
    .description {
      font-size: 12px;
      line-height: 150%;
    }
    .seriesName {
      top: 274px;
    }
    .play {
      display: block;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
</style>
